<!DOCTYPE html>
<html>
<head>
	{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
	{% endblock %}
	<title>{{ title|default('ALOJA, BSC\'s Big Data Benchmark Repository and Online Performance Analysis Tools') }}</title>
	{% block stylesheet %}
	<style type="text/css" title="currentStyle">
		@import "css/bootstrap.min.css";
		@import "css/styles.css";
		@media (min-width: 768px) and (max-width: 1200px) {
		  .hidden-desktop {
		    display: inherit !important;
		  }
		  .visible-desktop {
		    display: none !important ;
		  }
		  .visible-tablet {
		    display: inherit !important;
		  }
		  .hidden-tablet {
		    display: none !important;
		  }
		}
	</style>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker3.min.css" />
	{% endblock %}
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-47802380-2', 'bsc.es');
        ga('send', 'pageview');
    </script>
</head>
<body id="main">
	{% block body %}
	<div id="container"> <!-- container -->
		{#<img style="position: absolute; top: 20; left: 0; border: 0; z-index: -1;" src="img/banner_BSC23.jpeg">#}
		<div class="row" style="padding-bottom: 5px; display: flex; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;">
			<div class="col-md-2" style="width: 200px;">
					<img src="img/logo/aloja.png" style="" width="200">
			</div>
			<div class="col-md-8">
				<p class="bottom-align" style="font-size: 1.5em; color: grey; font-weight: bold;">
					{{ title|default('Big Data Benchmark Repository and Performance Analysis') }}
				</p>
			</div>
			<div class="col-md-2" >
				<a target="blank" href="http://www.bscmsrc.eu/">
					<img src="img/bsc-logo_trans.png" width="270">
				</a>
			</div>
	   </div>
		<div class="modal fade" id="welcomeModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">
							Welcome to <strong>ALOJA</strong>
						</h4>
					</div>
					<div class="modal-body">
						<p>
							<strong>ALOJA</strong> is a project to explore Hadoop's
							performance under different Software parameters, Hardware, Cloud
							or On-Premise, and Job types. This site is under constant development and it is
							in the process of being documented.
							<br /><br />
							For more details, visit our <a href="index.php">welcome page</a>.
							<br /><br />
							For inquiries, feature requests or bug reports
							please contact us at: <a href="mailto:hadoop@bsc.es" target="_top">hadoop@bsc.es</a>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		{% block navigation %}
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="border-top: .15em solid #dddddd;">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand navlink" href="{{ path('index') }}" >Home</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
{# 			<li {% if selected is defined and selected == 'About' %}class="active"{% endif %}>#}
{#				<a class="navlink" href="{{ path('index') }}"><span >About</span></a>#}
{#			</li>#}
			<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">Benchmark Repository <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
				<li {% if selected is defined and selected == 'Benchmark Executions' %}class="active"{% endif %}><a class="navlink" href="{{ path('benchexecutions',  {'pageTab': 'DETAIL'}) }}">Browse Executions</a></li>
				<li {% if selected is defined and selected == 'Hadoop Job Counters' %}class="active"{% endif %}><a class="navlink" href="{{ path('counters') }}">Hadoop1 Job Counters</a></li>
				<li {% if selected is defined and selected == 'Hadoop 2 Job Counters' %}class="active"{% endif %}><a class="navlink" href="{{ path('hdp2counters') }}">Hadoop2 Job Counters</a></li>
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlsummaries' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlsummaries') }}">Executions Summary</a></li>
		          </ul>
		        </li>
{# 		        <li {% if selected is defined and selected == 'Histogram' %}class="active"{% endif %}>#}
{# 		        	<a class="navlink" href="{{ path('histogram') }}">Histograms</a>#}
{# 		        </li>#}
			<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">Config Evaluations <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
				<li {% if selected is defined and selected == 'Best configuration' %}class="active"{% endif %}><a class="navlink" href="{{ path('bestconfig') }}">Overall Best Configuration</a></li>
     			  <li {% if selected is defined and selected == 'Execution Times' %}class="active"{% endif %}><a class="navlink" href="{{ path('exec_times') }}">Configuration Improvement</a></li>
					  <li {% if selected is defined and selected == 'Config Improvement' %}class="active"{% endif %}><a class="navlink" href="{{ path('configimprovement') }}">Configuration Improvement (Speedup)</a></li>

				<li {% if selected is defined and selected == 'Parameter Evaluation' %}class="active"{% endif %}><a class="navlink" href="{{ path('parameval') }}">Parameter Evaluation</a></li>
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlcrossvar' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlcrossvar') }}">Variable Visualization</a></li>
				<li {% if selected is defined and selected == 'mlcrossvar3d' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlcrossvar3d') }}">Variable Visualization [vs. Time]</a></li>
				<li {% if selected is defined and selected == 'mlobstrees' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlobstrees') }}">Execution Visualization</a></li>
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlprecision' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlprecision') }}">Precision and Comparison</a></li>
			  </ul>
		        </li>
			<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">Cost/Perf Evaluation <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
                    <li {% if selected is defined and selected == 'Number of Nodes Evaluation' %}class="active"{% endif %}><a class="navlink" href="{{ path('nodeseval') }}">Cost/Perf scalability by VMs</a></li>
					<li {% if selected is defined and selected == 'Datasizes Scalability' %}class="active"{% endif %}><a class="navlink" href="{{ path('datasizeseval') }}">Cost/Perf scalability by data size</a></li>
					  <li {% if selected is defined and selected == 'Cores Scalability' %}class="active"{% endif %}><a class="navlink" href="{{ path('coreseval') }}">Cost/Perf scalability by cores</a></li>
			        <li {% if selected is defined and selected == 'Cost Evaluation' %}class="active"{% endif %}><a class="navlink" href="{{ path('costperfeval') }}">Cost/Perf Evaluation of execs</a></li>
			        <li {% if selected is defined and selected == 'Best Clusters Cost Evaluation' %}class="active"{% endif %}><a class="navlink" href="{{ path('bestcostperfclustereval') }}">Cost/Perf Evaluation of clusters</a></li>
			        <li {% if selected is defined and selected == 'Cost-Effectiveness of clusters' %}class="active"{% endif %}><a class="navlink" href="{{ path('clustercosteffectiveness') }}">Cost-Effectiveness of clusters</a></li>
				<li {% if selected is defined and selected == 'Clusters Cost Evaluation' %}class="active"{% endif %}><a class="navlink" href="{{ path('costperfclustereval') }}">Cost/Perf Evaluation of HW configs</a></li>
		          </ul>
		        </li>
			<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">Performance Details<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
					<li {% if selected is defined and selected == 'Performance charts' %}class="active"{% endif %}><a class="navlink" href="{{ path('perfcharts') }}?{% if make_execs is not defined or make_execs == ''%}random=1{% else %}{{ make_execs | raw }}{% endif %}">Performance Charts</a></li>
					<li {% if selected is defined and selected == 'Performance Metrics' %}class="active"{% endif %}><a class="navlink" href="{{ path('metrics') }}">Performance Metrics</a></li>
					<li {% if selected is defined and selected == 'DBSCAN' %}class="active"{% endif %}><a class="navlink" href="{{ path('dbscan', {'jobid': 'random'}) }}">DBSCAN</a></li>
					{% if not PROD %}<li {% if selected is defined and selected == 'DBSCANexecs' %}class="active"{% endif %}><a class="navlink" href="{{ path('dbscanexecs', {'jobid': 'random'}) }}">DBSCANexecs</a></li>{% endif %}
					  <li {% if selected is defined and selected == 'Histogram' %}class="active"{% endif %}><a class="navlink" href="{{ path('histogram') }}">Hadoop 1 histograms</a></li>
					  <li {% if selected is defined and selected == 'Histogram HDP2' %}class="active"{% endif %}><a class="navlink" href="{{ path('histogramhdi') }}">Hadoop 2 histograms</a></li>
				  </ul>
			</li>
			<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">Prediction Tools<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
				<li {% if selected is defined and selected == 'mlprediction' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlprediction') }}">Modeling Data</a></li>
				<!--<li {% if selected is defined and selected == 'mldatacollapse' %}class="active"{% endif %}><a class="navlink" href="{{ path('mldatacollapse') }}">Collapse Data</a></li>-->
				<li {% if selected is defined and selected == 'mlfindattributes' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlfindattributes') }}">Predict Configurations</a></li>
				<!--<li {% if selected is defined and selected == 'mlparameval' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlparameval') }}">Parameter Evaluation (ML)</a></li>-->
				<li {% if selected is defined and selected == 'mloutliers' %}class="active"{% endif %}><a class="navlink" href="{{ path('mloutliers') }}">Anomaly Detection</a></li>
				<li {% if selected is defined and selected == 'mlvariableweight' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlvariableweight') }}">Feature Relevance</a></li>
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlminconfigs' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlminconfigs') }}">Minimal Configurations</a></li>
				<li {% if selected is defined and selected == 'mlnewconfigs' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlnewconfigs') }}">New Cluster Configurations</a></li>
				<!--<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlcrossvar3dfa' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlcrossvar3dfa') }}">Predicted-Space Visualization</a></li>-->
				{% if not PROD %}
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'mlclearcache' %}class="active"{% endif %}><a class="navlink" href="{{ path('mlclearcache') }}">Clear Cache ML</a></li>
				{% endif %}
                          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
                	<li class="dropdown">
		          <a href="#" class="navlink dropdown-toggle" data-toggle="dropdown">ALOJA Reference<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
				{#<li><a class="navlink" href="/slides/template.html">ALOJA-WEB Presentation Slides</a></li>#}
				<li {% if selected is defined and selected == 'Publications' %}class="active"{% endif %}><a class="navlink" href="{{ path('publications') }}">Publications and Slides</a></li>
				<li {% if selected is defined and selected == 'Team' %}class="active"{% endif %}><a class="navlink" href="{{ path('team') }}">Team & Collaborators</a></li>
				<li class="divider"></li>
				<li {% if selected is defined and selected == 'Clusters' %}class="active"{% endif %}><a class="navlink" href="{{ path('clusters') }}">Clusters Reference</a></li>
				<li {% if selected is defined and selected == 'Clusters Costs' %}class="active"{% endif %}><a class="navlink" href="{{ path('clustercosts') }}">Clusters Costs Calculations</a></li>
				<li class="divider"></li>
				<li><a class="navlink" target="_blank" href="http://github.com/Aloja">Browse the code</a></li>
		          </ul>
		        </li>
		        {#<li>#}
				{#<a class="navlink" href="http://hadoop.bsc.es/blog"  target="_blank">Blog</a>#}
		        {#</li>#}
		        <li>
				<a class="navlink" href="http://www.bscmsrc.eu" target="_blank">BSC-MSR Centre</a>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
    	{% endblock %}
    	{% block messages %}
		{% if message is defined and message != '' %}
		<div class="alert alert-danger" role="alert" style="text-align: center; font-weight: bold;">
		{{ message }}
		</div>
		{% endif %}
	{% endblock %}
    	{% block content %}
    	{% endblock %}
	</div><!-- /container -->
	{% endblock %}
	{% block footer %}
	<footer>
		<div id="copyright" class="row">
		 <div class="col-md-3">
			<a target="blank" href="http://www.bsc.es/"><img height="44" width="163" src="img/bsc-logo.jpg" alt="BSC logo"/></a>
		 </div>
		 <div class="col-md-6">
			<p>Contact us at: <a href="mailto:hadoop@bsc.es">hadoop@bsc.es</a></p>
			<p>Copyright {{ "now"|date("Y") }} © bscmsrc.eu All Rights Reserved. <a id="legal" href="http://www.bscmsrc.eu/legal-notice">Legal Notice</a></p>
		 </div>
		 <div class="col-md-3">
			<a target="blank" href="http://research.microsoft.com/"><img height="35" width="125" src="img/msr-logo.jpg" alt="MSR logo" class="logo" /></a>
			<a target="blank" href="http://cordis.europa.eu/fp7/"><img width="80" height="70" src="img/FP7genRGB.gif" alt="FP7 logo" class="logo" /></a>
		 </div>
		</div>
	</footer>
	{% endblock %}
	{% block javascript %}
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="js/URI.min.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".filtersTab").on('shown.bs.collapse hidden.bs.collapse', function() {
			var element = $(this).parent().find(".indicator").first();
			if(element.hasClass("glyphicon-chevron-down"))
				element.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
			else if(element.hasClass("glyphicon-chevron-up"))
				element.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
		});

		$("#showFilters").click(function() {
			$("#filtersTab").slideToggle(400, function() {
				if ($("#filtersTab").is(':visible'))
					$("#showFilters").text('Hide filters');
				else
				    $("#showFilters").text('Show filters');
			});
		});

		$(".datepicker").each(function() {
			$(this).datepicker({
				autoclose: true,
				format: 'yyyy/mm/dd'
			});
		});

		$("select[name='presets']").change(function() { 
		    var url = $(this).find("option:selected").first().attr('url');
		    if (url == "") {
				//Clear form
				$("input[type='checkbox']").each(function () {
					$(this).prop('checked', false);
				});
			} else {
				var filters = url.split("?")[1];
				filters = filters.split("&");

				//Clear form
				$("input[type='checkbox']").each(function () {
					$(this).prop('checked', false);
				});

				//$("form[name='configFilters']").trigger('reset');
				for (i = 0; i < filters.length; ++i) {
					var split = filters[i].split("=");
					var filterName = split[0];
					var filterValue = split[1];
					if (filterValue != "" && filterValue != null) {
						if (filterName[filterName.length - 1] == ']')
							$("input[name='" + filterName + "'][value='" + filterValue + "']").prop('checked', true);
						else {
							if($("input[name='" + filterName + "']").attr("type") == "checkbox")
								$("input[name='" + filterName + "']").prop('checked',true);
							else
								$("input[name='" + filterName + "']").val(filterValue);
						}
						$("select[name='" + filterName + "']").val(filterValue);
					}
					if(filterName == 'selected-groups') {
						var arrayGroups = filterValue.split(",");
						$(".addgroup").each(function() {
							if(arrayGroups.indexOf($(this).attr("value")) > -1) {
								$(this).addClass("active");
							} else if($(this).hasClass("active"))
								$(this).removeClass("active");
						});
					}
				}
			}
		});

		var labelLookup = $("#label-lookup").data("label-lookup");

		$("form[name='configFilters'] input").change(function() {
			if($(this).attr('name') != 'presets') {
				$("select[name='presets']").val("none");
			}

			updateActiveFilters();
		});

		function renderFilters(activeFilters) {
			var target = $(".active-filters");
			var keys = Object.keys(activeFilters);

			if (keys.length === 0) {
				target.empty();
				return;
			}

			function removeFilter(filterName) {
				return function() {
					var container = $(".container" + filterName);
					if (container.length > 0) {
						container.find("input[type='checkbox']").prop("checked", false);
					}
					else {
						$("input[name='" + filterName + "']").val("");
					}

					updateActiveFilters();
				};
			}

			var filters = keys.reduce(function (prev, curr) {
				var filter = activeFilters[curr];

				var button = $("<button type='button' title='remove filter' class='remove-filter btn btn-default btn-sm'>"
				+ "<span class='remove-icon'>\327</span>"
				+ "<span class='filter-description'><strong>" + filter.label + "</strong>"
				+ " (" + filter.values.join(", ") + ")</span>"
				+ "</button>").click(removeFilter(curr));

				return prev.concat(button);
			}, []);

			var container = $("<div class='filter-buttons'></div>").append(filters);

			target.empty().append([$("<h4>Active Filters</h4>"), container]);
		}

		function updateActiveFilters() {
			var formState = $("#configFilters").serializeArray();
			var namesToSkip = ["presets", "submit", "valid", "filter", "prepares", "uobsr", "selected-groups"];
			var activeFilters = formState.reduce(function (prev, curr) {
				var name = curr.name.replace(/\[]$/, "");
				if (namesToSkip.indexOf(name) > -1) return prev;
				if (curr.value.trim() === "") return prev;

				if (!prev[name]) {
					prev[name] = {
						label: labelLookup[name],
						values: [curr.value]
					};
				}
				else {
					prev[name].values.push(curr.value);
				}

				return prev;
			}, {});

			renderFilters(activeFilters);
		}

		updateActiveFilters();

		$("span.selectAll").click(function() { 
			$(this).parent().find('.panel-body').first().find('input').prop('checked',true);
		});

		$("span.deselectAll").click(function() { 
			$(this).parent().find('.panel-body').first().find('input').removeAttr('checked');
		});

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i=0; i<ca.length; i++) {
			  var c = ca[i].trim();
			  if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
			}
			return "";
		}

		if(getCookie('rememberme') != "true") {
			document.cookie="rememberme=true";
			$("#welcomeModal").modal({
				show: true,
			  	backdrop: 'static'
			});
		}

		$(".tooltip2").each(function() {
				$(this).tooltip();
		});

        	if($('.dropdown li.active').length > 0) {
        		$('.dropdown li.active').parent().parent().closest('li.dropdown').addClass('active');
        	}

        	$(".addgroup").click(function() {
		    	if($(this).hasClass("active"))
		        	$(this).removeClass("active");
		    	else
				$(this).addClass("active");

				var selected = new Array();
				$(".addgroup.active").each(function() { selected[selected.length] = $(this).attr('value'); });

				$("input[name='selected-groups']").attr('value',selected.join());
			});

			$("input[name='outlier']").change(function() {
				if($(this).is(':checked')) {
					$("input[name='warning']").prop('checked',false);
				}
			});

			$("input[name='warning']").change(function() {
				if($("input[name='outlier']").is(':checked')) {
					$(this).prop('checked',false);
				}
			});

			//Set initial selected group filters
			$(".addgroup").each(function() {
				if($(this).hasClass("active")) {
					var currentFilters = $("input[name='selected-groups']").attr("value");
					if(currentFilters == "")
						currentFilters = $(this).attr("value");
					else
						currentFilters += ","+$(this).attr("value");
				}
				$("input[name='selected-groups']").attr("value",currentFilters);
			});

			{% if additionalFilters is defined %}
				var datasizesInfo = jQuery.parseJSON('{{ additionalFilters['datasizesInfo'] | raw }}');
				var scaleFactorsInfo = jQuery.parseJSON('{{ additionalFilters['scaleFactorsInfo'] | raw }}');
				var providerClusters = jQuery.parseJSON('{{ additionalFilters['providerClusters'] | raw }}');
				showCorrectClusters(providerClusters);
				showCorrectBenchs(datasizesInfo);
				showCorrectBenchDatasizes(datasizesInfo);
				showCorrectBenchScaleFactors(scaleFactorsInfo);
				$("input[name='bench[]'], select[name='bench[]']").change(function() {
					showCorrectBenchDatasizes(datasizesInfo);
					showCorrectBenchScaleFactors(scaleFactorsInfo);
				});
				$("input[name='bench_type[]'],select[name='bench_type[]'],input[name='prepares']").change(function() {
					showCorrectBenchs(datasizesInfo);
					showCorrectBenchDatasizes(datasizesInfo);
					showCorrectBenchScaleFactors(scaleFactorsInfo);
				});
				$("input[name='provider[]']").change(function() {
					showCorrectClusters(providerClusters);
				});
			{% endif %}
	});
	</script>
	{% endblock %}
</body>
</html>
