{% extends "layout.html.twig" %}
{% block javascript %}
		{{ parent() }}
        <script src="//code.highcharts.com/highcharts.js"></script>
        <script src="//code.highcharts.com/modules/exporting.js"></script>
        <script src="//code.highcharts.com/modules/no-data-to-display.js"></script>
        <script src="js/datatables/extras/export-csv/export-csv.js"></script>
        <script src="js/datatables/extras/draggable-legend/draggable-legend.js"></script>
	    <script>
            Highcharts.setOptions({
                colors: ["#7cb5ec", "#90ee7e", '#8085e9', "#DF5353", "#f7a35c", "#aaeeee",  "#55BF3B",  "#7798BF", "#aaeeee"]
                //colors: ['#7cb5ec','#434348','#90ed7d','#f7a35c','#8085e9','#f15c80','#e4d354','#8085e8','#8d4653','#91e8e1']
                //colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
                //colors: ["#7cb5ec", "#90ee7e", "#7798BF", "#f7a35c", "#aaeeee", "#ff0066", "#eeaaee", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"]
                //colors: ["#DDDF0D", "#7798BF", "#55BF3B", "#DF5353", "#aaeeee", "#ff0066", "#eeaaee", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"]
                //colors: ["#DDDF0D", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"]
                //colors: ["#f45b5b", "#8085e9", "#8d4654", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee", "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"]
            });

            $(document).ready(function() {
                $('select:not(.preset)').change(function() {
                    $(this).parents('form').submit();
                });

                {{ chartsJS | raw }}


                $("[name^=setmax_container_]").each(function() {
                    var val = $(this).val();
                    if($.isNumeric(val)) {
						var name = $(this).attr('name').replace('setmax','chart');
						var selChart = window[name];
						var options = selChart.options;
						options.yAxis[0].max = val;
						window[name] = new Highcharts.Chart(options);
                    }
                });
                
                //Bugfix trick
                $("[id^=collapse]").removeClass("in");
                $("#collapse0").addClass("in");
                $(".indicator:first").removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");

                $("#chartsCollapse").collapse({
					toggle: false
                });

                $("#chartsCollapse").on('shown.bs.collapse hidden.bs.collapse', function() {
					$("[id^=collapse]").each(function() {
						var id = $(this).attr('id');
	                    id = id.substring(8);
	                    
						if($(this).hasClass("in")) {
							var element = $(this).parent().find(".indicator").first();
							if(element.hasClass("glyphicon-chevron-down"))
								element.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
						} else {
							var element = $(this).parent().find(".indicator").first();
							if(element.hasClass("glyphicon-chevron-up"))
								element.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
						}
					});
                });

                $("#chartsCollapse").on('hidden.bs.collapse', function() {
					$(this).find('.indicator').first().hasClass("glyphicon-chevron-up")
					  .removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
                });

                $("[name^=setmax_container_]").change(function() {
                    var val = $(this).val();
                    if($.isNumeric(val)) {
						var name = $(this).attr('name').replace('setmax','chart');
						var selChart = window[name];
						var options = selChart.options;
						options.yAxis[0].max = val;
						window[name] = new Highcharts.Chart(options);
                    }
                });

                $("[name^=preset_]").change(function() {
					var name = $(this).attr('name').replace('preset','setmax');
					$("[name="+name+"]").val($(this).val());
					$("[name="+name+"]").change();
                });
                
            });
        </script>
    {% endblock %}
    {% block content %}
       {% if charts is defined and charts != '' %}
       <form method="GET" role="form" class="form-inline">
       <div id="charts" style="width: 95%;">
           <div id="navigation" style="text-align: center;">
               <h2 class="compare body">
                   <strong>Job/s details:</strong>
                   <a href="{{ path('counters') }}?type=TASKS{{ makeExecs(execs) }}">Tasks & Counters</a>
                   <strong style="margin-left: 1.5em;">Metrics:</strong>
                   <a href="{{ modifyUrl({'metric': 'CPU'}) }}"><span {% if metric == 'CPU' %}style="font-weight:bold;"{% endif %}>CPU</span></a>
                   <a href="{{ modifyUrl({'metric': 'Memory'}) }}"><span {% if metric == 'Memory' %}style="font-weight:bold;"{% endif %}>Memory</span></a>
                   <a href="{{ modifyUrl({'metric': 'Network'}) }}"><span {% if metric == 'Network' %}style="font-weight:bold;"{% endif %}>Network</span></a>
                   <a href="{{ modifyUrl({'metric': 'Disk'}) }}"><span {% if metric == 'Disk' %}style="font-weight:bold;"{% endif %}>Disk I/O</span></a>
                   <span style="margin-left: 1.5em;">Buffers</span>
               </h2>
               <div id="filters" style="text-align: right;">
				  {% for exec in execs %}
                       <input type="hidden" name="execs[]" value="{{ exec }}">
                  {% endfor %}
                       <input type="hidden" name="metric" value="{{ metric }}">
                       <strong>Filters:</strong> &nbsp;&nbsp;&nbsp;
                       Hosts: <select name="hosts" class="form-control">
                           <option value="Slaves" {% if hosts == 'Slaves' %}selected="selected"{% endif %}>All Slaves</option>
                           <option value="Master"{% if hosts == 'Master' %}selected="selected"{% endif %}>Master</option>
                           {% for host_row in host_rows %}
                           <option value="{{ host_row['host_name'] }}" {% if hosts == host_row['host_name'] %}selected="selected"{% endif %}>{{ host_row['host_name'] }}</option>
                           {% endfor %}
                       </select>
                       &nbsp;&nbsp;&nbsp;
                       Aggregation: <select name="aggr" class="form-control">
                           <option value="AVG" {% if aggr == 'AVG' %}selected="selected"{% endif %}>AVG</option>
                           <option value="SUM" {% if aggr == 'SUM' %}selected="selected"{% endif %}>SUM</option>
                       </select>
                                                   &nbsp;&nbsp;&nbsp;
                            Detail: <select name="detail" class="form-control">
                                <option value="1" {% if detail == '1' %}selected="selected"{% endif %}>1</option>
                                <option value="3" {% if detail == '3' %}selected="selected"{% endif %}>3</option>
                                <option value="5" {% if detail == '5' %}selected="selected"{% endif %}>5</option>
                                <option value="10" {% if detail == '10' %}selected="selected"{% endif %}>10</option>
                                <option value="20" {% if detail == '20' %}selected="selected"{% endif %}>20</option>
                                <option value="30" {% if detail == '30' %}selected="selected"{% endif %}>30</option>
                                <option value="60" {% if detail == '60' %}selected="selected"{% endif %}>60</option>
                            </select> secs.
                       		<!--<input type="submit" value="submit">-->
               </div>
           </div>
           </br>
           <div class="panel-group" id="chartsCollapse">
           {% set i = 0 %}
           {% if charts|length > 0 %}
             {% for chart_type,chart in charts|first %}
                {% set first = true %}
                {% for exec in execs %}
                   {% if charts[exec][chart_type]['chart'] is defined %}
                     {% if first == true %}
                        <div class="panel panel-default">
							<div class="panel-heading">
							    <i data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
								<h4 class="panel-title">
								 <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}">
									   {{ charts[exec][chart_type]['group_title'] }}
								 </a>
								 </h4>
						    </div>
							<div id="collapse{{ i }}" class="panel-collapse collapse in">
								<div class="panel-body">
							{% set first = false %}
                     {% endif %}
                     <div id="chart_options" style="float: right;">
	                     <label>Set max yAxis value: </label>
	                     <input class="form-control" type="number" step="any" name="setmax_{{ charts[exec][chart_type]['chart'].getGuid() }}" value="{{ charts[exec][chart_type]['chart'].getSetMax() }}" />
{# 	                     <select class="preset" name="preset_{{ charts[exec][chart_type]['chart'].getGuid() }}">#}
{# 	                           <option value="{{ charts[exec][chart_type]['chart'].getMax() }}" selected="selected">{{ charts[exec][chart_type]['chart'].getMax() }}</option>#}
{# 	                           <option value="10" >10</option>#}
{# 	                           <option value="100" >100</option>#}
{# 	                           <option value="500" >500</option>#}
{# 	                           <option value="1000" >1000</option>#}
{# 	                     </select>#}
					</div>
                     <div id="{{ charts[exec][chart_type]['chart'].getGuid() }}" align="left" style="clear: both; width: 100%; height: 250px;">
                     </div>
                     <br />
                   {% endif %}
                   {% set i = i + 1 %}
                {% endfor %}
                {% if first != true %}
                   			   </div>
                   		    </div>
                   	  </div>
                {% endif %}
             {% endfor %}
           {% endif %}
		   </div>
          {% endif %}
    {% endblock %}
