{% extends "layout.html.twig" %}
{% block javascript %}
	{{ parent() }}
    {{ highcharts_js|raw }}
    <script>
        $(document).ready(function() {
                    $('select').change(function() {
                        $(this).parents('form').submit();
                    });

                    var chart = new Highcharts.Chart({
                        chart: {
                            type: 'bar',
                            renderTo: 'chart',
                        },
                        title: {
                            text: 'Average speedup by config group to average execution time by benchmark'
                        },
                        subtitle: {
                            //text: 'subtitle'
                        },
                        xAxis: {
                            categories: [{{ categories|raw }}
                    ],
                    title: {
                        text: 'Configuration group',
                    }
                },
                yAxis: {
            min: 0,
                //max: 1,
                    title: {
                useHTML: true,
                        text: '&#8678; Slower &nbsp;&nbsp;&nbsp; Execution time Speedup over average for benchmark (more is better) &nbsp;&nbsp;&nbsp; Faster &#8680;',
                //align: 'high'
            },
            labels: {
                overflow: 'justify'
            },
            plotBands: [
                {
                    from: 0,
                    to: 1,
                    color: 'rgba(255, 170, 213, .2)'
                },
                {
                    from: 1,
                    to: 10,
                    color: 'rgba(100, 170, 255, .2)'
                }]
        },
        tooltip: {
            //valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -5,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                    shadow: true,
                    title: {
                text: ':: Drag Legend ::',
            },
            draggable: true,
        },
        credits: {
            enabled: false
        },
        series: [{{ series|raw }}]
        });
    });

    </script>
    {% endblock %}
    {% block navigation %}
       {{ parent() }}
        <div id="navigation" style="text-align: center; vertical-align: top;">

            <table width="80%" align="center">
                <tr>
                    <td>
                        <div id="chart" style="width: 800px; height: 600px; margin: 0 auto"></div>
                    </td>
                    <td width="50">
                        &nbsp;
                    </td>
                    <td valign="top" align="left">
                        <div >
                            <form method="get">
                                    <table>
                                        <tr>
                                            <td>
                                                <h2>Filters: <a href="?">(reset)</a></h2>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Benchmarks:</br>
                                                <select name="benchs[]" multiple >

                                                    <option value="pagerank"    {% if 'pagerank' in benchs %}SELECTED{% endif %}>pagerank</option>
                                                    <option value="sort"        {% if 'sort' in benchs %}SELECTED{% endif %}>sort</option>
                                                    <option value="terasort"    {% if 'terasort' in benchs %}SELECTED{% endif %}>terasort</option>
                                                    <option value="wordcount"   {% if 'wordcount' in benchs %}SELECTED{% endif %}>wordcount</option>
                                                    <option value="dfsioe_read" {% if 'dfsioe_read' in benchs %}SELECTED{% endif %}>dfsioe_read</option>
                                                    <option value="dfsioe_write" {% if 'dfsioe_write' in benchs %}SELECTED{% endif %}>dfsioe_write</option>
                                                    <!--<option value="kmeans"      {% if 'kmeans' in benchs %}SELECTED{% endif %}>kmeans</option>-->
                                                    <!--<option value="bayes"       {% if 'bayes' in benchs %}SELECTED{% endif %}>bayes</option>-->

                                                    <option value="None"   {% if not benchs %}SELECTED{% endif %}>ALL</option>

                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Networks:</br>
                                                <select name="nets[]" multiple  >
                                                    <option value="IB"    {% if 'IB' in nets %}SELECTED{% endif %}>InfiniBand</option>
                                                    <option value="ETH"   {% if 'ETH' in nets %}SELECTED{% endif %}>GbEthernet</option>
                                                    <option value="None"   {% if not nets %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Disks:</br>
                                                <select name="disks[]" multiple>
                                                    <option value="SSD"    {% if 'SSD' in disks %}SELECTED{% endif %}>SSD</option>
                                                    <option value="HDD"   {% if 'HDD' in disks %}SELECTED{% endif %}>HDD</option>
                                                    <option value="RL1"   {% if 'RL1' in disks %}SELECTED{% endif %}>RL1</option>
                                                    <option value="RL2"   {% if 'RL2' in disks %}SELECTED{% endif %}>RL2</option>
                                                    <option value="RL3"   {% if 'RL3' in disks %}SELECTED{% endif %}>RL3</option>
                                                    <option value="R1"   {% if 'R1' in disks %}SELECTED{% endif %}>R1</option>
                                                    <option value="R2"   {% if 'R2' in disks %}SELECTED{% endif %}>R2</option>
                                                    <option value="R3"   {% if 'R3' in disks %}SELECTED{% endif %}>R3</option>
                                                    <option value="None"   {% if not disks %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Clusters:</br>
                                                <select name="id_clusters[]" multiple >
                                                    <option value="1"    {% if '1' in id_clusters %}SELECTED{% endif %}>Local</option>
                                                    <option value="2"    {% if '2' in id_clusters %}SELECTED{% endif %}>Azure</option>
                                                    <option value="None"   {% if not id_clusters %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Maps:</br>
                                                <select name="mapss[]" multiple >
                                                    <option value="4"    {% if '4' in mapss %}SELECTED{% endif %}>4</option>
                                                    <option value="6"    {% if '6' in mapss %}SELECTED{% endif %}>6</option>
                                                    <option value="8"    {% if '8' in mapss %}SELECTED{% endif %}>8</option>
                                                    <option value="10"    {% if '10' in mapss %}SELECTED{% endif %}>10</option>
                                                    <option value="12"    {% if '12' in mapss %}SELECTED{% endif %}>12</option>
                                                    <option value="16"    {% if '16' in mapss %}SELECTED{% endif %}>16</option>
                                                    <option value="24"    {% if '24' in mapss %}SELECTED{% endif %}>24</option>
                                                    <option value="32"    {% if '32' in mapss %}SELECTED{% endif %}>32</option>
                                                    <option value="None"   {% if not mapss %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Compression:</br>
                                                <select name="comps[]" multiple size="2">
                                                    <option value="0"    {% if '0' in comps %}SELECTED{% endif %}>None</option>
                                                    <option value="1"   {% if '1' in comps %}SELECTED{% endif %}>ZLIB</option>
                                                    <option value="2"   {% if '2' in comps %}SELECTED{% endif %}>BZIP2</option>
                                                    <option value="3"   {% if '3' in comps %}SELECTED{% endif %}>Snappy</option>
                                                    <option value="None"   {% if not comps %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Replication:</br>
                                                <select name="replications[]" multiple size="2">
                                                    <option value="1"    {% if '1' in replications %}SELECTED{% endif %}>1</option>
                                                    <option value="2"    {% if '2' in replications %}SELECTED{% endif %}>2</option>
                                                    <option value="3"    {% if '3' in replications %}SELECTED{% endif %}>3</option>
                                                    <option value="None"   {% if not replications %}SELECTED{% endif %}>Disabled</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                            </td>
                                        </tr>
                                    </table>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            </br>
        </div>
    {% endblock %}