<!-- CUSTOM FILTERS -->
<form id="configFilters" name="configFilters" method="GET" role="form">
<div class="row panel panel-default" style="width: 100%; margin: 0 auto; margin-bottom: 1em;">
	<div class="panel-heading"><h3 class="panel-title" style="font-size: 1.5em; text-align: center;">Filters</h3></div>
	<div class="panel-body col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<button id="submit" type="submit" value="Update filters" class="btn btn-primary">Update filters</button>
			</div>
			<div class="col-md-6">
				<a id="filter_reset" href="?" style="color: white;" class="reset btn btn-warning">Reset</a>
			</div>
		</div>
	</div>
	<div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default col-md-10 col-md-offset-1" style="padding: 0;">
		<div class="panel-heading" role="tab" id="headingBasicFilters">
			<i id="basicFiltersGlyphon" data-toggle="collapse" data-parent="#accordion" href="#basicFilters" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#basicFilters" aria-expanded="true" aria-controls="basicFilters">Sample Data-set</a>
			</h4>
		</div>
		<div id="basicFilters" class="panel-collapse collapse in filtersTab" role="tabpanel" aria-labelledby="headingBasicFilters">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						{% if select_multiple_benchs is not defined or select_multiple_benchs %}
						Benchmark:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['bench'] %}
								<input type="checkbox" name="bench[]" value="{{ selopt['bench'] }}" {% if selopt['bench'] in bench %}checked{% endif %}>&nbsp;{{ selopt['bench'] }}<br />
								{% endfor %}
							</div>
						</div>
						{% else %}
						Benchmarks:</br>
						<select class="form-control" class="control-form" name="bench[]">
							{% for selopt in options['bench'] %}
							<option value="{{ selopt['bench'] }}" {% if selopt['bench'] in bench %}SELECTED{% endif %}>{{ selopt['bench'] }}</option>
							{% endfor %}
							{% if select_multiple_benchs is not defined or select_multiple_benchs %}
							<option value="None"  {% if not bench %} SELECTED {% endif %}>ALL</option>
							{% endif %}
						</select>
						{% endif %}
					</div>
					<div class="col-md-6">
						Clusters: (CL)&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['id_cluster'] %}
								<input type="checkbox" name="id_cluster[]" value="{{ selopt['id_cluster'] }}" {% if selopt['id_cluster'] in id_cluster %}checked{% endif %}>&nbsp;{{ selopt['name'] }}<br />
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Networks:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['net'] %}
								<input type="checkbox" name="net[]" value="{{ selopt['net'] }}" {% if selopt['net'] in net %}checked{% endif %}>&nbsp;{% if selopt['net'] == 'IB' %}InfiniBand{% elseif selopt['net'] == 'ETH' %}Ethernet{% else %}Unknown{% endif %}<br />
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						Disks:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['disk'] %}
								<input type="checkbox" name="disk[]" value="{{ selopt['disk'] }}" {% if selopt['disk'] in disk %}checked{% endif %}>&nbsp;{{ selopt['disk'] }}<br />
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Data Size:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['datasize'] %}
								{% if selopt['datasize'] is not null %}
								<input type="checkbox" name="datasize[]" value="{{ selopt['datasize'] }}" {% if selopt['datasize'] in datasize %}checked{% endif %}>&nbsp;{{ selopt['datasize'] }}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						Scale Factor:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
							{% for selopt in options['scale_factor'] %}
							<input type="checkbox" name="scale_factor[]" value="{{ selopt['scale_factor'] }}" {% if selopt['scale_factor'] in scale_factor %}checked{% endif %}>&nbsp;{{ selopt['scale_factor'] }}<br />
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-6">
						Maps:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['maps'] %}
								{% if selopt['maps'] != '' and selopt['maps'] > 0 %}
								<input type="checkbox" name="maps[]" value="{{ selopt['maps'] }}" {% if selopt['maps'] in maps %}checked{% endif %}>&nbsp;{{ selopt['maps'] }}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						Compression: (c)&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['comp'] %}
								{% if selopt['comp'] != '' %}
									<input type="checkbox" name="comp[]" value="{{ selopt['comp'] }}" {% if selopt['comp'] in comp %}checked{% endif %}>&nbsp;
									{% if selopt['comp'] == 0 %} None
									{% elseif selopt['comp'] == 1 %} ZLIB
									{% elseif selopt['comp'] == 2 %} BZIP2
									{% else %} Snappy
									{% endif %}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Replication: (r)&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['replication'] %}
								{% if selopt['replication'] != '' and selopt['replication'] > 0 %}
								<input type="checkbox" name="replication[]" value="{{ selopt['replication'] }}" {% if selopt['replication'] in replication %}checked{% endif %}>&nbsp;{{ selopt['replication'] }}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						Block size: (b)&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['blk_size'] %}
								{% if selopt['blk_size'] != '' and selopt['blk_size'] > 0 %}
								<input type="checkbox" name="blk_size[]" value="{{ selopt['blk_size'] }}" {% if selopt['blk_size'] in blk_size %}checked{% endif %}>&nbsp;{{ selopt['blk_size'] }} MB<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						I/O Sort Factor: (I)&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['iosf'] %}
								{% if selopt['iosf'] != '' and selopt['iosf'] > 0 %}
								<input type="checkbox" name="iosf[]" value="{{ selopt['iosf'] }}" {% if selopt['iosf'] in iosf %}checked{% endif %}>&nbsp;{{ selopt['iosf'] }}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						I/O File Buffer:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['iofilebuf'] %}
								{% if selopt['iofilebuf'] != '' and selopt['iofilebuf'] > 0 %}
								<input type="checkbox" name="iofilebuf[]" value="{{ selopt['iofilebuf'] }}" {% if selopt['iofilebuf'] in iofilebuf %}checked{% endif %}>&nbsp;{{ selopt['iofilebuf'] }} KB<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Hadoop version:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
								{% for selopt in options['hadoop_version'] %}
								{% if selopt['hadoop_version'] is not null %}
								<input type="checkbox" name="hadoop_version[]" value="{{ selopt['hadoop_version'] }}" {% if selopt['hadoop_version'] in hadoop_version %}checked{% endif %}>&nbsp;{{ selopt['hadoop_version'] }}<br />
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						Benchmark type:&nbsp;&nbsp;<span class="selectAll glyphicon glyphicon-plus" alt="Select all" title="Select all" src="img/plus.png" style="padding: 2px; cursor: pointer;"></span>&nbsp;&nbsp;<span class="deselectAll glyphicon-minus" alt="Deselect all" title="Deselect all" src="img/minus.png" style="padding: 2px; cursor: pointer;" /></span><br />
						<div class="panel panel-default" style="overflow-y: scroll; height: 6.7em;">
							<div class="panel-body" style="padding: 0; margin: 0; margin-left: .5em;">
							{% for selopt in options['benchtype'] %}
							<input type="checkbox" name="bench_type[]" value="{{ selopt['bench_type'] }}" {% if selopt['bench_type'] in bench_type %}checked{% endif %}>&nbsp;{{ selopt['bench_type'] }}<br />
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default col-md-10 col-md-offset-1" style="padding: 0;">
		<div class="panel-heading" role="tab" id="headingAdvancedFilters">
			<i id="advancedFiltersGlyphon" data-toggle="collapse" data-parent="#accordion" href="#advancedFilters" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#advancedFilters" aria-expanded="true" aria-controls="advancedFilters">Sample Data-set Advanced filters</a>
			</h4>
		</div>
		<div id="advancedFilters" class="panel-collapse collapse filtersTab" role="tabpanel" aria-labelledby="headingAdvancedFilters">
			<div class="panel-body">
				<input type="checkbox" name="filters[]" value="valid" {% if filters is defined and 'valid' in filters %}checked{% endif %}> Only valid execs<br />
				<input type="checkbox" name="filters[]" value="filters" {% if filters is defined and 'filters' in filters %}checked{% endif %}> Filter<br />
				<input type="checkbox" name="filters[]" value="prepares" {% if filters is defined and 'prepares' in filters %}checked{% endif %}> Include prepares<br />
				<input type="checkbox" name="filters[]" value="perfdetails" {% if filters is defined and 'perfdetails' in filters %}checked{% endif %}>Only execs with perf details<br />
{#				<input type="checkbox" name="filters[]" value="outliers" {% if filters is defined and 'outliers' in filters %}checked{% endif %}> Show outliers<br />#}
{#				<input type="checkbox" name="filters[]" value="warnings" style="margin-left: 1em;" {% if filters is defined and 'warnings' in filters %}checked{% endif %}> Show warnings#}
				<input type="text" id="allunchecked" name="allunchecked" value="{{ allunchecked }}" style="opacity: 0; position: absolute; left:999999px;" >
				<input type="hidden" name="selected-groups" value="{% if selectedGroups is defined and selectedGroups is not null %}{{ selectedGroups | join(',') }}{% endif %}" />
				<div class="row">
					<div class="col-md-6">
						From: <input type="text" name="datefrom" class="datepicker form-control" data-date-format="yyyy/mm/dd"" />
					</div>
					<div class="col-md-6">
						To: <input type="text" name="dateto" class="datepicker form-control" data-date-format="yyyy/mm/dd"" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Min exe time: <input type="text" name="minexetime" class="form-control" value="{{ minexetime }}" />
					</div>
					<div class="col-md-6">
						Max exe time: <input type="text" name="maxexetime" class="form-control" value="{{ maxexetime }}" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default col-md-10 col-md-offset-1" style="padding: 0;">
		<div class="panel-heading" role="tab" id="headingNewClusterFilter">
			<i id="NewClusterFilterGlyphon" data-toggle="collapse" data-parent="#accordion" href="#NewClusterFilter" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
      			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#NewClusterFilter" aria-expanded="true" aria-controls="NewClusterFilter">New Cluster Definition</a>
			</h4>
		</div>
		<div id="NewClusterFilter" class="panel-collapse collapse in filtersTab" role="tabpanel" aria-labelledby="headingNewClusterFilter">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						Cluster datanodes: </br>
						<select class="form-control" name="datanodes[]">
							{% for selopt in options['datanodes'] %}
							<option value="{{ selopt['datanodes'] }}" {% if selopt['datanodes'] in datanodes %}SELECTED{% endif %}>{{ selopt['datanodes'] }}</option>
							{% endfor %}
							<option value="None" {% if not datanodes %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						VM size: </br>
						<select class="form-control" name="vm_size[]">
							{% for selopt in options['vm_size'] %}
							<option value="{{ selopt['vm_size'] }}" {% if selopt['vm_size'] in vm_size %}SELECTED{% endif %}>{{ selopt['vm_size'] }}</option>
							{% endfor %}
							<option value="None" {% if not vm_size %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
					<div class="col-md-6">
						VM #cores: </br>
						<select class="form-control"	name="vm_cores[]">
							{% for selopt in options['vm_cores'] %}
							<option value="{{ selopt['vm_cores'] }}" {% if selopt['vm_cores'] in vm_cores %}SELECTED{% endif %}>{{ selopt['vm_cores'] }}</option>
							{% endfor %}
							<option value="None" {% if not vm_cores %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						VM RAM: </br>
						<select class="form-control" name="vm_RAM[]">
							{% for selopt in options['vm_RAM'] %}
							<option value="{{ selopt['vm_RAM'] }}" {% if selopt['vm_RAM'] in vm_RAM %}SELECTED{% endif %}>{{ selopt['vm_RAM'] | number_format(0,',','.') }} GB</option>
							{% endfor %}
							<option value="None" {% if not vm_RAM %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
					<div class="col-md-6">
						Cluster type: </br>
						<select class="form-control" name="type[]">
							{% for selopt in options['type'] %}
							<option value="{{ selopt['type'] }}" {% if selopt['type'] in type %}SELECTED{% endif %}>{{ selopt['type'] }}</option>
							{% endfor %}
							<option value="None" {% if not type %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						VM OS: </br>
						<select class="form-control" name="vm_OS[]">
							{% for selopt in options['vm_OS'] %}
							<option value="{{ selopt['vm_OS'] }}" {% if selopt['vm_OS'] in vm_OS %}SELECTED{% endif %}>{{ selopt['vm_OS'] }}</option>
							{% endfor %}
							<option value="None" {% if not vm_OS %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
					<div class="col-md-6">
						Provider: </br>
						<select class="form-control" name="provider[]">
							{% for selopt in options['provider'] %}
							<option value="{{ selopt['provider'] }}" {% if selopt['provider'] in provider %}SELECTED{% endif %}>{{ selopt['provider'] }}</option>
							{% endfor %}
							<option value="None" {% if not provider %} SELECTED {% endif %}>Disabled</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default col-md-10 col-md-offset-1" style="padding: 0;">
		<div class="panel-heading" role="tab" id="headingMachineLearningFilter">
			<i id="machineLearningFilterGlyphon" data-toggle="collapse" data-parent="#accordion" href="#machineLearningFilter" class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
      			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#machineLearningFilter" aria-expanded="true" aria-controls="machineLearningFilter">Machine learning</a>
			</h4>
		</div>
		<div id="machineLearningFilter" class="panel-collapse collapse in filtersTab" role="tabpanel" aria-labelledby="headingMachineLearningFilter">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6" id="mldiv">
						Learning method:</br> <select class="form-control" name="learn" >
							<option value="regtree" {% if 'regtree' in learn %} SELECTED {% endif %}>RegTree</option>
							<option value="nneighbours" {% if 'nneighbours' in learn %} SELECTED {% endif %}>k-NN</option>
							<option value="nnet" {% if 'nnet' in learn %} SELECTED {% endif %}>NNets</option>
							<option value="polyreg" {% if 'polyreg' in learn %} SELECTED {% endif %}>PolyReg-3</option>
						</select>
					</div>
					<div class="col-md-6">
						<!-- Se vende Ford Fiesta en perfecto estado -->
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</form>

<!-- END CUSTOM FILTERS -->
