{% extends "layout.html.twig" %} 
{% block stylesheet %} {{ parent() }}
	<style type="text/css">
        @import "js/datatables.new/media/css/demo_table.css";
        @import "js/datatables.new/media/css/jquery.dataTables.css";
        @import "js/datatables.new/extensions/ColReorder/media/css/ColReorder.css";
        @import "js/datatables.new/extensions/TableTools/media/css/TableTools.css";
        @import "js/datatables.new/extensions/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
            overflow-x: auto;
	    float: left;
            width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="outputMsg" style="text-align:justify; float: left; width: 100%;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<h4><p style="text-align:justify">Clear full cache database</p></h4>
		<p style="text-align:justify">Do you REALLY want to clear the cache? [<a href="mlclearcache?ccache">CLEAR CACHE</a>]</p>
	</div>
	<div id="contentdiv" style="float: left; width: 100%;">	
		<h4><p style="text-align:justify">Table of current Learning algorithms</p></h4>
		<div id="learndiv" style="float: left; width: 100%;">
			<table id="learntable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<br/>
		<hr/>
		<h4><p style="text-align:justify">Table of current MinConfigs found</p></h4>
		<div id="minconfdiv" style="float: left; width: 100%;">
			<table id="minconftable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<br/>
		<hr/>
		<h4><p style="text-align:justify">Table of current Outliers resolved</p></h4>
		<div id="outlierdiv" style="float: left; width: 100%;">
			<table id="outliertable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<br/>
		<hr/>
		<h4><p style="text-align:justify">Table of current Summaries printed</p></h4>
		<div id="summarydiv" style="float: left; width: 100%;">
			<table id="summarytable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<br/>
		<hr/>
		<h4><p style="text-align:justify">Table of current Precisions computed</p></h4>
		<div id="precisiondiv" style="float: left; width: 100%;">
			<table id="precisiontable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="js/URI.min.js"></script>

	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		oTable = $('#learntable').dataTable({
			"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
			"aaData": {{ learners | raw }},
			"columns": {{ header_learners | raw }},
			"columnDefs" : [],
			"sScrollX": "100%",
			"bScrollCollapse": true
		});

		aTable = $('#minconftable').dataTable({
			"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
			"aaData": {{ minconfs | raw }},
			"columns": {{ header_minconfs | raw }},
			"columnDefs" : [],
			"sScrollX": "100%",
			"bScrollCollapse": true
		});

		rTable = $('#outliertable').dataTable({
			"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
			"aaData": {{ resolutions | raw }},
			"columns": {{ header_resolutions | raw }},
			"columnDefs" : [],
			"sScrollX": "100%",
			"bScrollCollapse": true
		});

		sTable = $('#summarytable').dataTable({
			"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
			"aaData": {{ summaries | raw }},
			"columns": {{ header_summaries | raw }},
			"columnDefs" : [],
			"sScrollX": "100%",
			"bScrollCollapse": true
		});

		pTable = $('#precisiontable').dataTable({
			"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
			"aaData": {{ precisions | raw }},
			"columns": {{ header_precisions | raw }},
			"columnDefs" : [],
			"sScrollX": "100%",
			"bScrollCollapse": true
		});

		$(window).bind('resize', function () {
			oTable.fnAdjustColumnSizing();
			aTable.fnAdjustColumnSizing();
			rTable.fnAdjustColumnSizing();
		});           
		//jQuery('.dataTable').wrap('<div class="scrollStyle" />');
	});
    </script>
{% endblock %}
