{% extends "layout.html.twig" %} 
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Variable Crossing</b> against <b>Predicted Execution Time</b>: This tool allows to visualize the relation between two variables of our dataset and the <i>Predicted Execution Time</i> for a given space of possible configurations. Select which executions you want as data-set using the filter box at the right, and then select which two variables you want to compare against the <i>Predicted Execution Time</i> of the unfolded space of configurations.</p>
		<hr />
	</div>
	<div id="container" style="float: left; width: 68%; margin: 0 auto;">
		<div id="navigation" style="text-align: center; width: 100%; margin: 0 auto;">
			<div style="width: 50%; margin: 0 auto;">
			Select variables:
			<table width="100%"><tr><td width="48%">
				<select class="form-control" name="variable1" id="variable1" size="1">
				<option value="maps" {% if variable1 == 'maps' or variable1 =='' %}selected="selected"{% endif %}>Maps</option>
				<option value="comp" {% if variable1 == 'comp' %}selected="selected"{% endif %}>Compression</option>
				<option value="id_cluster" {% if variable1 == 'id_cluster' %}selected="selected"{% endif %}>Clusters</option>
				<option value="net" {% if variable1 == 'net' %}selected="selected"{% endif %}>Network</option>
				<option value="disk" {% if variable1 == 'disk' %}selected="selected"{% endif %}>Disk</option>
				<option value="replication" {% if variable1 == 'replication' %}selected="selected"{% endif %}>Replication</option>
				<option value="iofilebuf" {% if variable1 == 'iofilebuf' %}selected="selected"{% endif %}>I/O File Buffer</option>
				<option value="blk_size" {% if variable1 == 'blk_size' %}selected="selected"{% endif %}>Block size</option>
				<option value="iosf" {% if variable1 == 'iosf' %}selected="selected"{% endif %}>I/O Sort Factor</option>
				<option value="datanodes" {% if variable1 == 'datanodes' %}selected="selected"{% endif %}>Data Nodes</option>
				<option value="headnodes" {% if variable1 == 'headnodes' %}selected="selected"{% endif %}>Head Nodes</option>
				<option value="vm_OS" {% if variable1 == 'vm_OS' %}selected="selected"{% endif %}>Operating System</option>
				<option value="vm_cores" {% if variable1 == 'vm_cores' %}selected="selected"{% endif %}>VM Cores</option>
				<option value="vm_RAM" {% if variable1 == 'vm_RAM' %}selected="selected"{% endif %}>VM RAM</option>
				<option value="provider" {% if variable1 == 'provider' %}selected="selected"{% endif %}>Provider</option>
				<option value="vm_size" {% if variable1 == 'vm_size' %}selected="selected"{% endif %}>VM Size</option>
				<option value="type" {% if variable1 == 'type' %}selected="selected"{% endif %}>Type of Service</option>
				</select>
			</td><td width="2%">&nbsp;</td><td width="48%">
				<select class="form-control" name="variable2" id="variable2" size="1">
				<option value="maps" {% if variable2 == 'maps' %}selected="selected"{% endif %}>Maps</option>
				<option value="comp" {% if variable2 == 'comp' %}selected="selected"{% endif %}>Compression</option>
				<option value="id_cluster" {% if variable2 == 'id_cluster' %}selected="selected"{% endif %}>Clusters</option>
				<option value="net" {% if variable2 == 'net' or variable1 =='' %}selected="selected"{% endif %}>Network</option>
				<option value="disk" {% if variable2 == 'disk' %}selected="selected"{% endif %}>Disk</option>
				<option value="replication" {% if variable2 == 'replication' %}selected="selected"{% endif %}>Replication</option>
				<option value="iofilebuf" {% if variable2 == 'iofilebuf' %}selected="selected"{% endif %}>I/O File Buffer</option>
				<option value="blk_size" {% if variable2 == 'blk_size' %}selected="selected"{% endif %}>Block size</option>
				<option value="iosf" {% if variable2 == 'iosf' %}selected="selected"{% endif %}>I/O Sort Factor</option>
				<option value="datanodes" {% if variable2 == 'datanodes' %}selected="selected"{% endif %}>Data Nodes</option>
				<option value="headnodes" {% if variable2 == 'headnodes' %}selected="selected"{% endif %}>Head Nodes</option>
				<option value="vm_OS" {% if variable2 == 'vm_OS' %}selected="selected"{% endif %}>Operating System</option>
				<option value="vm_cores" {% if variable2 == 'vm_cores' %}selected="selected"{% endif %}>VM Cores</option>
				<option value="vm_RAM" {% if variable2 == 'vm_RAM' %}selected="selected"{% endif %}>VM RAM</option>
				<option value="provider" {% if variable2 == 'provider' %}selected="selected"{% endif %}>Provider</option>
				<option value="vm_size" {% if variable2 == 'vm_size' %}selected="selected"{% endif %}>VM Size</option>
				<option value="type" {% if variable2 == 'type' %}selected="selected"{% endif %}>Type of Service</option>
				</select>
			</td></tr></table>
			</div>
		</div>
		<br />
		<div id="chart" style="float: left; width: 100%; margin: 0 auto; height: 600px;"></div>
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters_ml.html.twig' %}
	</div>
	<div style="clear: both;"></div>
	<hr />
	Model information and control: <a id="displayText2" href="javascript:toggle('footer','displayText2');">show</a>
	<div id="footer" style="display:none; float: left; width: 100%;">
		<p>Current Instance: {{ instance }} <br/>Current used model: {% if current_model != '' %}{{current_model}}{% else %}Aggregation{% endif %}</p>
		<div style="float: left; width: 65%;">
			<p>Usable models found:<ul>{{models | raw}}</ul></p>
		</div>
		<div style="float: right; width: 30%;">
			<p>Retry with this selected model:<br/> <select class="form-control" name="model[]" id="select-model" ></select></p>
		</div>
	</div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-3d.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	function toggle(divid, textid)
	{
		var ele = document.getElementById(divid);
		var text = document.getElementById(textid);
		if (ele.style.display == "block") { ele.style.display = "none"; text.innerHTML = "show"; }
		else { ele.style.display = "block"; text.innerHTML = "hide"; }
	}

	$(document).ready(function() {
		$("select.form-control option[value='None']").text("ALL");
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		$("#variable1").change(function()
		{
			var configForm = document.getElementsByName('configFilters')[0];
			configForm.innerHTML = configForm.innerHTML + "<input type='hidden' name='variable1' value='" + $('#variable1').val() + "'></input>";
			configForm.innerHTML = configForm.innerHTML + "<input type='hidden' name='variable2' value='" + $('#variable2').val() + "'></input>";
			$('#submit').click();
		});
		$("#variable2").change(function()
		{
			var configForm = document.getElementsByName('configFilters')[0];
			configForm.innerHTML = configForm.innerHTML + "<input type='hidden' name='variable1' value='" + $("#variable1").val() + "'></input>";
			configForm.innerHTML = configForm.innerHTML + "<input type='hidden' name='variable2' value='" + $("#variable2").val() + "'></input>";
			$('#submit').click();
		});
		$("#select-model").change(function()
		{
			var url = window.location.href;   
			if (url.indexOf('?') > -1) url = url + '&current_model=' + $("#select-model").val(); 
			else url = url + '?current_model=' + $("#select-model").val();
			window.location.href = url;
		});

		var target = document.getElementById('select-model');
		var mid = {{ models_id | raw }};
		for (i = 0; i < mid.length; i++)
		{
			var newhtml = "<option value='" + mid[i] + "'";
			if (mid[i] == '{{current_model}}') newhtml = newhtml + " SELECTED";
			target.innerHTML = target.innerHTML + newhtml + ">" + mid[i] + "</option>";
		}
		var newhtml = "<option value=''";
		if ('{{current_model}}' == '') newhtml = newhtml + " SELECTED";
		target.innerHTML = target.innerHTML + newhtml + ">Aggregation of Models</option>";

		if ("{{must_wait}}"== "NO")
		{
			$(function () {

				// Give the points a 3D feel by adding a radial gradient
				Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function (color) {
				return {
				    radialGradient: {
					cx: 0.4,
					cy: 0.3,
					r: 0.5
				    },
				    stops: [
					[0, color],
					[1, Highcharts.Color(color).brighten(-0.2).get('rgb')]
				    ]
				};
				});

				// Set up the chart
				var chart = new Highcharts.Chart({
				chart: {
				    renderTo: 'chart',
				    margin: 100,
				    type: 'scatter',
				    options3d: {
					enabled: true,
					alpha: 10,
					beta: 30,
					depth: 750,
					viewDistance: 1,

					frame: {
					    bottom: { size: 1, color: 'rgba(0,0,0,0.02)' },
					    back: { size: 1, color: 'rgba(0,0,0,0.04)' },
					    side: { size: 1, color: 'rgba(0,0,0,0.06)' }
					}
				    }
				},
				plotOptions: {
					series: {
						turboThreshold: 5000
					},
					scatter: {
						marker: {
		    		                    radius: 5,
		    		                    states: {
		    		                        hover: {
		    		                            enabled: true,
		    		                            lineColor: 'rgb(100,100,100)'
		    		                        }
		    		                    }
		    		                },
		    		                states: {
		    		                    hover: {
		    		                        marker: {
		    		                            enabled: false
		    		                        }
		    		                    }
		    		                },
					}
				},
				tooltip: {
					formatter: function(chart) {
						var p = this.point;
						return p.name + '<br />{{variable2}}: ' +  Math.round(p.x) + ', {{variable1}}: ' + Math.round(p.y) + ', exe_time: ' + -1 * Math.round(p.z);
					}
    		                },
				title: {
				    text: 'Variable comparison against Predicted Time'
				},
				subtitle: {
				    text: '{{variable1}} vs {{variable2}} vs pred_time'
				},
				yAxis: {
					max: {{maxy}},
					min: {{miny}},
					gridLineWidth: 1,
					title: {
						enabled: true,
						text: '{{variable1}}'
					},
					categories: {{categories1 | raw}}
				},
				zAxis: {
					max: {{maxz}},
					min: {{minz}},
					gridLineWidth: 1,
					title: {
						enabled: true,
						text: 'pred_time'
					}
				},
				xAxis: {
					max: {{maxx}},
					min: {{minx}},
					gridLineWidth: 1,
					title: {
						enabled: true,
						text: '{{variable2}}'
					},
					categories: {{categories2 | raw}}
				},
				legend: {
				    enabled: false
				},
			        series: [
					{name: 'Predictions (Full Space of Possibilities)', data: {{ jsonData | raw }}}
				]
				});


				// Add mouse events for rotation
				$(chart.container).bind('mousedown.hc touchstart.hc', function (e) {
					e = chart.pointer.normalize(e);

					var posX = e.pageX,
					    posY = e.pageY,
					    alpha = chart.options.chart.options3d.alpha,
					    beta = chart.options.chart.options3d.beta,
					    newAlpha,
					    newBeta,
					    sensitivity = 5; // lower is more sensitive

					$(document).bind({
					    'mousemove.hc touchdrag.hc': function (e) {
						// Run beta
						newBeta = beta + (posX - e.pageX) / sensitivity;
						newBeta = Math.min(100, Math.max(-100, newBeta));
						chart.options.chart.options3d.beta = newBeta;

						// Run alpha
						newAlpha = alpha + (e.pageY - posY) / sensitivity;
						newAlpha = Math.min(100, Math.max(-100, newAlpha));
						chart.options.chart.options3d.alpha = newAlpha;

						chart.redraw(false);
					    },
					    'mouseup touchend': function () {
						$(document).unbind('.hc');
					    }
					});
				});

			});
		} else {
			$('#chart')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";
			setInterval( function() { window.location.reload(); }, 300000 );
		}
	});
    </script>
{% endblock %}
