{% extends "layout.html.twig" %} 
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Variable Crossing</b>: This tool allows to visualize the relation between two variables of our dataset. Select which executions you want as data-set using the filter box at the right, and then select which two variables you want to compare.</p>
		<hr />
	</div>
	<div id="container" style="float: left; width: 68%; margin: 0 auto;">

		<div id="waitdiv" style="float: left; width: 100%;"></div>

		<div class="row panel-group" id="stuffdivs" role="tablist" aria-multiselectable="true">
			<div class="panel-heading" role="tab" id="headingChartDiv">
				<i id="ChartFG" data-toggle="collapse" data-parent="#stuffdivs" href="#chartDivFilter" class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#stuffdivs" href="#chartDivFilter" aria-expanded="true" aria-controls="chartDivFilter">
						Variable Crossing
					</a>
				</h4>
			</div>
			<div id="chartDivFilter" class="panel-collapse collapse in filtersTab" role="tabpanel" aria-labelledby="headingChartDiv">
				<div class="panel-body">
					<div id="chart" style="float: left; width: 100%; margin: 0 auto;"></div>
				</div>
			</div>

			<div class="panel-heading" role="tab" id="headingModelInfo">
				<i id="ModelInfoFG" data-toggle="collapse" data-parent="#stuffdivs" href="#modelInfoFilter" class="indicator glyphicon glyphicon-chevron-down pull-right collapsed"></i>
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#stuffdivs" href="#modelInfoFilter" aria-expanded="true" aria-controls="modelInfoFilter">
						Model Information
					</a>
				</h4>
			</div>
			<div id="modelInfoFilter" class="panel-collapse collapse filtersTab" role="tabpanel" aria-labelledby="headingModelInfo">
				<div class="panel-body">
					<p>{{error_stats | raw}}</p>
					<p>
						<ul>
						<li>Instance: {{instance|raw}}</li>
						<li>Model Info: {{model_info|raw}}</li>
						<li>Advanced Filters: {{slice_info|raw}}</li>
						<li>Selected Variables: {{variable1}} - {{variable2}}</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters.html.twig' %}
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	$(document).ready(function()
	{
		document.getElementById('submit').id = 'submitForm';

		$('jsonError').innerHTML = "<p>{{message}}</p>";

		if ("{{must_wait}}"== "NO")
		{
			$('#chart').highcharts( {
	    		        chart: { type: 'scatter', zoomType: 'xy' },
	    		        title: { text: 'Variable comparison' },
	    		        subtitle: { text: '{{variable1}} vs {{variable2}}' },
				xAxis: {
					title: { enabled: true, text: '{{variable2}}' },
					startOnTick: true,
					endOnTick: false,
					categories: {{categories2 | raw}}
	    		        },
	    		        yAxis: {
					title: { enabled: true, text: '{{variable1}}' },
					startOnTick: true,
					endOnTick: false,
					categories: {{categories1 | raw}}
	    		        },
				credits: { enabled: false },
	    		        plotOptions: {
				    series: { turboThreshold: 5000 },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: { hover: { enabled: true, lineColor: 'rgb(100,100,100)' } }
	    		                },
	    		                states: { hover: { marker: { enabled: false } } },
	    		                tooltip: {
	    		                    headerFormat: '',
	    		                    pointFormat: '{point.name}'
	    		                }
	    		            }
	    		        },
	    		        series: [{name: 'Observations (Run Experiments)', data: {{ jsonData | raw }}}]
			});
		} else {
			$('#waitdiv')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";

			$('#chartDivFilter').hide(); $('#headingChartDiv').hide();
			$('#modelInfoFilter').show(); $('#headingModelInfo').hide();

			setInterval( function() { window.location.reload(); }, 300000 );
		}
	});
    </script>
{% endblock %}
