{% extends "layout.html.twig" %} 
{% block stylesheet %} {{ parent() }}
	<style type="text/css">
        @import "js/datatables.new/media/css/demo_table.css";
        @import "js/datatables.new/media/css/jquery.dataTables.css";
        @import "js/datatables.new/extensions/ColReorder/media/css/ColReorder.css";
        @import "js/datatables.new/extensions/TableTools/media/css/TableTools.css";
        @import "js/datatables.new/extensions/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
            overflow-x: auto;
	    float: left;
            width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	{% block datacollapsed %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Predict Configurations</b>: This tool uses the created models from <a href="/mlprediction">Modeling Data</a> to expand the space of possibilities for the selected attributes in the right filter box. It gets the best compatible model in cache and predicts all the possible software and hardware configurations for the selected filter, and returns a table with the results. It also creates a tree of attributes, indicating which ones separate better the faster from the slower executions.</p>
		<p style="text-align:justify">
To use the tool, select which executions you want to filter through the right filter box (make sure you created a compatible model in <i>Modeling Data</i> section). Then observe the predictions for each combination, also the tree of attributes. Optionally you can re-launch the prediction process using a different model in cache, from the <i>Model information</i> toolbox found at the bottom of the page.</p>
		<hr />
	</div>
	<div id="contentdiv" style="float: left; width: 68%;">	
		<div id="benchdiv" style="float: left; width: 100%;">
			<table id="benchmark" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<br />
		<div id="treedescriptor" style="display:none; float: left; width: 100%;"><hr/>Tree Descriptor: {{ tree_descriptor | raw}}<hr/></div>
	</div>
	<div style="float: right; width: 30%;">
	{% set select_multiple_benchs = false %}
	{% include 'common/config_filters_ml.html.twig' %}
	</div>
	<div style="clear: both;"></div>
	<hr />
	Model information and control: <a id="displayText2" href="javascript:toggle('footer','displayText2');">show</a>
	<div id="footer" style="display:none; float: left; width: 100%;">
		<p>Current Instance: {{ instance }} <br/>Current used model: {{current_model}} <br/>Current MAE of data: {{mae}} ; Current RAE of data: {{rae}}</p>
		<div style="float: left; width: 65%;">
			<p>Usable models found:<ul>{{models | raw}}</ul></p>
		</div>
		<div style="float: right; width: 30%;">
			<p>Retry with this selected model:<br/> <select class="form-control" name="model[]" id="select-model" ></select></p>
		</div>
	</div>
	{% endblock %}
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	function toggle(divid, textid)
	{
		var ele = document.getElementById(divid);
		var text = document.getElementById(textid);
		if (ele.style.display == "block") { ele.style.display = "none"; text.innerHTML = "show"; }
		else { ele.style.display = "block"; text.innerHTML = "hide"; }
	}

	$(document).ready(function() {
		$("#select-model").change(function()
		{
			$('#mldiv').append("<input type='hidden' name='current_model' value='" + $("#select-model").val() + "'></input>");
			$('#submitForm').click();
		});

		$("select.form-control option[value='None']").text("ALL");
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		if ("{{jsonData | raw}}" == '[]') $("#footer").hide();

		var target = document.getElementById('select-model');
		var mid = {{ models_id | raw }};
		for (i = 0; i < mid.length; i++)
		{
			var newhtml = "<option value='" + mid[i] + "'";
			if (mid[i] == '{{current_model}}') newhtml = newhtml + " SELECTED";
			target.innerHTML = target.innerHTML + newhtml + ">" + mid[i] + "</option>";
		}

		if ("{{must_wait}}" == "NO")
		{
			oTable = $('#benchmark').dataTable({
				"lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
				"aaData": {{ jsonData | raw }},
				"columns": {{ jsonHeader | raw }},
				"columnDefs" : [
					{"targets" : -1, "render" : function (data) { return Math.round(data); }},
					{"targets" : [11,12,13,14,15,16,17,18,19], "visible": false}
				]
			});
			$(window).bind('resize', function () {
				oTable.fnAdjustColumnSizing();
			});           
			jQuery('.dataTable').wrap('<div class="scrollStyle" />');

			$('#treedescriptor').show();
			if ({{ tree }})	$('#benchdiv').hide();
		}
		else
		{
			$('#benchdiv')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";
			$('#footer').hide();
			setInterval( function() { window.location.reload(); }, 300000 );
		}
	});
	</script>
{% endblock %}
