{% extends "layout.html.twig" %} 
{% block stylesheet %} {{ parent() }}
	<style type="text/css">
        @import "js/datatables/media/css/demo_table.css";
        @import "js/datatables/media/css/jquery.dataTables.css";
        @import "js/datatables/extras/ColReorder/media/css/ColReorder.css";
        @import "js/datatables/extras/TableTools/media/css/TableTools.css";
        @import "js/datatables/extras/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
		overflow-x:auto;
		float: left;
		width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify">[WiP] Set stuff here...</p>
		<hr />
	</div>
	<div id="stuffdiv" style="float: left; width: 68%;">
		<div id="chart" style="float: left; width: 100%;"></div>
		<div style="width: 40%; margin: 0 auto;">
				Display # Configs:	<select class="form-control" name="select_configs" id="select_configs"></select>
				</div>
		<div id="benchdiv" style="float: left; width: 100%;"></div>
	</div>
	<div style="float: right; width: 30%;">
	{% set select_multiple_benchs = false %}
	{% include 'common/config_filters.html.twig' %}
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>

	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		$("select.form-control option[value='None']").text("ALL");
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		if ("{{must_wait}}"== "NO")
		{
			$('#chart').highcharts( {
	    		        chart: {
	    		            type: 'column',
	    		            zoomType: 'xy'
	    		        },
	    		        title: {
	    		            text: 'Minimal Configurations'
	    		        },
	    		        subtitle: {
	    		            text: 'Progression of executions added to reconstruct the model'
	    		        },
	    		        xAxis: {
	    		            title: {
	    		                enabled: true,
	    		                text: 'Number of Experiments'
	    		            },
	    		            startOnTick: true,
	    		            endOnTick: true,
	    		            showLastLabel: true
	    		        },
	    		        yAxis: {
	    		            title: {
	    		                text: 'Relative Absolute Error (s)'
	    		            }
	    		        },
			        credits: {
					enabled: false
				    },
	    		        plotOptions: {
				    series: {
					turboThreshold: 5000
				    },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: {
	    		                        hover: {
	    		                            enabled: true,
	    		                            lineColor: 'rgb(100,100,100)'
	    		                        }
	    		                    }
	    		                },
	    		                states: {
	    		                    hover: {
	    		                        marker: {
	    		                            enabled: false
	    		                        }
	    		                    }
	    		                },
	    		                tooltip: {
	    		                    headerFormat: '',
	    		                    pointFormat: '<b>{point.name}</b> <br/> {point.x} s, {point.y} s'
	    		                }
	    		            }
	    		        },
				legend: {
					enabled: false
				},
	    		        series: [
					{color: '#AAF', data: {{ jsonData | raw }}},
				]
			});

			var configs = {{ configs | raw }};

			for (i = 0; i < configs.length; i++)
			{
				oTable = $('#benchdiv').append('<div id="divbmk'+i+'" class="bmk_configs"><p>Using '+(i+1)*10+' Configs</p><table id="benchmark'+i+'" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table><hr/></div>');
				$('#select_configs').append('<option value="'+i+'">'+(i+1)*10+' minimal configurations</option>');
				$('div[class="bmk_configs"]').each(function() { $(this).hide(); } );
				$('#divbmk0').show();
				$('#benchmark'+i).dataTable(
				{
					"aaData": configs[i],
					"columns": {{ jsonHeader | raw }},
					"columnDefs" : [{"targets" : configs[i], "render" : function (data) { return Math.round(data); }}]
				}
				);

				$(window).bind('resize', function () {
					oTable.fnAdjustColumnSizing();
				});           
				jQuery('.dataTable').wrap('<div class="scrollStyle" />');
			}

			$('select[name="select_configs"]').change(function() {
				$('div[class="bmk_configs"]').each(function() { $(this).hide(); } );
				$('#divbmk'+$(this).val()).show();
			});

		}
		else
		{
			$('#stuffdiv')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait</p>";
			setInterval( function() { window.location.reload(); }, 300000 );
		}	
	});
    </script>
{% endblock %}
