{% extends "layout.html.twig" %} 
{% block stylesheet %} {{ parent() }}
	<style type="text/css">
        @import "js/datatables.new/media/css/demo_table.css";
        @import "js/datatables.new/media/css/jquery.dataTables.css";
        @import "js/datatables.new/extensions/ColReorder/media/css/ColReorder.css";
        @import "js/datatables.new/extensions/TableTools/media/css/TableTools.css";
        @import "js/datatables.new/extensions/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
		overflow-x:auto;
		float: left;
		width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Minimal Recommended Configurations</b> for <b>New Clusters</b>: This tool is in charge of finding the minimal number of executions (and which ones) to model a new cluster or cloud service. Using machine learning algorithms, this tool creates a model from the data-set of executions selected through the right panel, then using model-based methods it searches which minimal set of executions are required to model the selected clusters.</p>
	<p style="text-align:justify">To use the tool, select which executions you want as model and the characteristics of the new cluster through the right filter box (This tool will automatically create a model for this). Then observe the set of executions required, and the indicative error (not the real error, but the estimated relative to the amount of executions) that they produce by only running them. The tool returns different sets of configurations, sets with cardinality 10 to <i>k</i>, each one with a lower error but more executions in it.</p>
		<hr />
	</div>
	<div id="content" style="float: left; width: 68%;">

		<div id="waitdiv" style="float: left; width: 100%;"></div>

		<div id="instructions" style="float: left; width: 100%; display: none">
			<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: justify;'>
				<h4 class="panel-title">Instructions:</h4>
				<table width="100%" style="border-collapse:separate; border-spacing:1em;">
				<tr><td width='50px'>&nbsp;</td><td>This tool will find the <b>Minimum Executions</b> to benchmark a <b>new</b> deployment, taking as reference the selected deployment/executions</td></tr>
				<tr><td width='50px' valign="top">1 -</td><td>Select from the <b>Filters Box</b> (right box):<br/>1) The executions to be filtered by chosing the value constraints per each attribute (if no value selected, all will be added to the combination)<br/>2) The method that will be used to generate the reference model for obtaining the minimum configurations to run<br/>3) Optionally, check if the generated model shall accept new values for attributes when reusing the it in the future (attempting to predict them) or fix the values, so new values for attributes will be rejected when using this model</td></tr>
				<tr><td width='50px' valign="top">2 -</td><td>Click on <b>Find Configs</b>, and wait until the data is processed, the model created and the configurations obtained. Take into account that the bigger the data-set selected, the longer can take to process.</td></tr>
				<tr><td width='50px' valign="top">3 -</td><td><b>Wait</b> until the navigator refreshes, and processes the received data.</td></tr>
				<tr><td width='50px' valign="top">4 -</td><td>Results will appear as:<br/>
					a) A <b>chart</b> showing how the more configurations you execute, the smaller is the difference (<i>error</i>) respect the reference model with all the previously selected executions.<br/>
					b) A <b>table</b> with the recommended minimal configurations to execute, with the capability of selecting the size of the set of recommendations (corresponding to the previous chart).
				</td></tr>
				</table>
			</p>
			<hr/>
			<hr/>
			<h4 class="panel-title">Recently created models in cache: <a id="displayText" href="javascript:toggle('learndiv','displayText');">show</a></h4><br/> 
			<div id="learndiv" style="float: left; width: 100%; display:none;">
				<table id="learntable" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
			</div>
		</div>

		<div class="row panel-group" id="stuffdivs" role="tablist" aria-multiselectable="true">
			<div class="panel-heading" role="tab" id="headingChartDiv">
				<i id="ChartFG" data-toggle="collapse" data-parent="#stuffdivs" href="#chartDivFilter" class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#stuffdivs" href="#chartDivFilter" aria-expanded="true" aria-controls="chartDivFilter">
						Estimated Error Regression
					</a>
				</h4>
			</div>
			<div id="chartDivFilter" class="panel-collapse collapse in filtersTab" role="tabpanel" aria-labelledby="headingChartDiv">
				<div class="panel-body">
					<div id="chart" style="float: left; width: 100%;"></div>
				</div>
			</div>

			<div class="panel-heading" role="tab" id="headingBenchDiv">
				<i id="BenchFG" data-toggle="collapse" data-parent="#stuffdivs" href="#benchDivFilter" class="indicator glyphicon glyphicon-chevron-down pull-right collapsed"></i>
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#stuffdivs" href="#benchDivFilter" aria-expanded="true" aria-controls="benchDivFilter">
						Recommended Minimal Configurations
					</a>
				</h4>
			</div>
			<div id="benchDivFilter" class="panel-collapse collapse filtersTab" role="tabpanel" aria-labelledby="headingBenchDiv">
				<div class="panel-body">
					<div style="width: 40%; margin: 0 auto;">
						Display # Configs:
						<select class="form-control" name="select_configs" id="select_configs"></select>
					</div>
					<div id="benchdiv" style="float: left; width: 100%;"></div>
				</div>
			</div>

			<div class="panel-heading" role="tab" id="headingModelInfo">
				<i id="ModelInfoFG" data-toggle="collapse" data-parent="#stuffdivs" href="#modelInfoFilter" class="indicator glyphicon glyphicon-chevron-down pull-right collapsed"></i>
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#stuffdivs" href="#modelInfoFilter" aria-expanded="true" aria-controls="modelInfoFilter">
						Model Information
					</a>
				</h4>
			</div>
			<div id="modelInfoFilter" class="panel-collapse collapse filtersTab" role="tabpanel" aria-labelledby="headingModelInfo">
				<div class="panel-body">
					<p>{{error_stats | raw}}</p>
					<p>
						<ul>
						<li>Run cache ID: {{id_newconf|raw}}</li>
						<li>First Model cache ID: {{id_newconf_first|raw}} &#8658; DataSet cache ID: {{id_newconf_dataset|raw}}</li>
						<li>New Model cache ID: {{id_newconf_model|raw}} &#8658; NewConfigs cache ID: {{id_newconf_result|raw}}</li>
						<li>Instance: {{instance|raw}}</li>
						<li>Model Info: {{model_info|raw}}</li>
						<li>Advanced Filters: {{slice_info|raw}}</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div style="float: right; width: 30%;">
	{% set select_multiple_benchs = true %}
	{% include 'mltemplate/custom_filters.html.twig' %}
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>

	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

	<script type="text/javascript">
	function toggle(divid, textid)
	{
		var ele = document.getElementById(divid);
		var text = document.getElementById(textid);
		if (ele.style.display == "block") { ele.style.display = "none"; text.innerHTML = "show"; }
		else { ele.style.display = "block"; text.innerHTML = "hide"; }

		xTable.fnAdjustColumnSizing();
	}

	$(document).ready(function()
	{
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		if ("{{instructions}}" == "YES")
		{
			$('#instructions').show();
			$('#benchDivFilter').hide(); $('#headingBenchDiv').hide();
			$('#chartDivFilter').hide(); $('#headingChartDiv').hide();
			$('#modelInfoFilter').hide(); $('#headingModelInfo').hide();

			xTable = $('#learntable').dataTable({
				"lengthMenu": [[5, 25, 50, 100, -1], [5, 25, 50, 100, "All"]],
				"aaData": {{ newconfs | raw }},
				"columns": {{ header_newconfs | raw }},
				"columnDefs" : [],
				"sScrollX": "100%",
				"bScrollCollapse": true
			});
			return;
		}

		if ("{{must_wait}}"== "NO")
		{
			$('#chart').highcharts( {
	    		        chart: { type: 'column', zoomType: 'xy' },
	    		        title: { text: 'Recommended Configurations for a New Cluster' },
	    		        subtitle: { text: 'Progression of executions added to reconstruct the model' },
	    		        xAxis: {
	    		            title: { enabled: true, text: 'Number of Experiments' },
	    		            startOnTick: true,
	    		            endOnTick: true,
	    		            showLastLabel: true
	    		        },
	    		        yAxis: {
	    		            title: { text: 'Indicative Relative Absolute Error (s)' }
	    		        },
			        credits: { enabled: false },
	    		        plotOptions: {
				    series: { turboThreshold: 5000 },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: { hover: { enabled: true, lineColor: 'rgb(100,100,100)' } }
	    		                },
	    		                states: { hover: { marker: { enabled: false } } },
	    		                tooltip: { headerFormat: '', pointFormat: '<b>{point.name}</b> <br/> {point.x} s, {point.y} s' }
	    		            }
	    		        },
				legend: { enabled: false },
	    		        series: [{color: '#AAF', data: {{ jsonData | raw }}}]
			});

			var configs = {{ configs | raw }};

			for (i = 0; i < configs.length; i++)
			{
				oTable = $('#benchdiv').append('<div id="divbmk'+i+'" class="bmk_configs"><p>Using '+(i+1)*10+' Configs</p><table id="benchmark'+i+'" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table><hr/></div>');
				$('#select_configs').append('<option value="'+i+'">'+(i+1)*10+' minimal configurations</option>');
				$('div[class="bmk_configs"]').each(function() { $(this).hide(); } );
				$('#divbmk0').show();
				$('#benchmark'+i).dataTable(
				{
					"aaData": configs[i],
					"columns": {{ jsonHeader | raw }},
					"columnDefs" : [{"targets" : configs[i], "render" : function (data) { return Math.round(data); }}]
				}
				);

				$(window).bind('resize', function () {
					oTable.fnAdjustColumnSizing();
				});           
				jQuery('.dataTable').wrap('<div class="scrollStyle" />');
			}

			$('select[name="select_configs"]').change(function() {
				$('div[class="bmk_configs"]').each(function() { $(this).hide(); } );
				$('#divbmk'+$(this).val()).show();
			});

		}
		else
		{
			$('#waitdiv')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait</p>";

			$('#benchDivFilter').hide(); $('#headingBenchDiv').hide();
			$('#chartDivFilter').hide(); $('#headingChartDiv').hide();
			$('#modelInfoFilter').show(); $('#headingModelInfo').hide();

			setInterval( function() { window.location.reload(); }, 600000 );
		}	
	});
    </script>
{% endblock %}
