{% extends "layout.html.twig" %} 
{% block stylesheet %}
	{{ parent() }}
	<style type="text/css">
        @import "js/datatables.new/media/css/demo_table.css";
        @import "js/datatables.new/media/css/jquery.dataTables.css";
        @import "js/datatables.new/extensions/ColReorder/media/css/ColReorder.css";
        @import "js/datatables.new/extensions/TableTools/media/css/TableTools.css";
        @import "js/datatables.new/extensions/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
		overflow-x:auto;
		float: left;
		width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify">[WiP] Set stuff here...</p>
		<hr />
	</div>
	<div id="stuffdiv" style="float: left; width: 68%;">
		<div id="chart" style="float: left; width: 100%;"></div>
		<div id="controls" style="display: none; float: left; width: 100%;">
			<form>
				<table style="float: right; width: 20%;">
				<tr><td><label>Set max yAxis value: </label></td></tr><tr>
				<td><input class="form-control" type="number" step="100" id="maxy" value="0" /></td>
				<td><input class="form-control" type="button" id="maxy-apply" value="Apply" /></td>
				</tr></table>
			</form>
		</div>
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters_ml.html.twig' %}
	</div>
	<div style="clear: both;"></div>
	<hr />
	<div id="options" style="display: none">
		List of outliers : <a id="displayText1" href="javascript:toggle('benchdiv','displayText1');">show</a>
		<div id="benchdiv" style="display: none; float: left; width: 100%;">
			<table id="benchmark" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<hr />
		Model information and control: <a id="displayText2" href="javascript:toggle('footer','displayText2');">show</a>
		<div id="footer" style="display: none; float: left; width: 100%;">	
			<div style="float: left; width: 70%;">
				<p>Current used model: {{current_model}}</p>
				<p>Usable models found:<ul>{{models | raw}}</ul></p>
			</div>
			<div style="float: left; width: 30%;">
				<p>Retry with this selected model:<br/> <select class="form-control" name="model[]" id="select-model" ></select></p>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

	<script type="text/javascript">
	function toggle(divid, textid)
	{
		var ele = document.getElementById(divid);
		var text = document.getElementById(textid);
		if (ele.style.display == "block") { ele.style.display = "none"; text.innerHTML = "show"; }
		else { ele.style.display = "block"; text.innerHTML = "hide"; }
	}

	$(document).ready(function() {
		$("select.form-control option[value='None']").text("ALL");
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		if ('{{jsonData | raw}}' == '[]' && '{{jsonWarns | raw}}' == '[]' && '{{jsonOuts | raw}}' == '[]') $("#footer").hide();

		var target = document.getElementById('select-model');
		var mid = {{ models_id | raw }};
		for (i = 0; i < mid.length; i++)
		{
			var newhtml = "<option value='" + mid[i] + "'";
			if (mid[i] == '{{current_model}}') newhtml = newhtml + " SELECTED";
			target.innerHTML = target.innerHTML + newhtml + ">" + mid[i] + "</option>";
		}

		$("#select-model").change(function()
		{
			var url = window.location.href;   
			if (url.indexOf('?') > -1) url = url + '&current_model=' + $("#select-model").val(); 
			else url = url + '?current_model=' + $("#select-model").val();
			window.location.href = url;
		});

		$("#maxy-apply").click(function()
		{
			if ($("#maxy").val() < 1) $('#chart').highcharts().yAxis[0].setExtremes(null, null);
			else $('#chart').highcharts().yAxis[0].update({ max: $("#maxy").val() });
		});

		if ("{{must_wait}}"== "NO")
		{
			$('#controls').show();
			$('#options').show();

			$('#chart').highcharts( {
	    		        chart: {
	    		            type: 'scatter',
	    		            zoomType: 'xy'
	    		        },
	    		        title: {
	    		            text: 'Outlier Detection'
	    		        },
	    		        subtitle: {
	    		            text: 'Model vs Observation'
	    		        },
	    		        xAxis: {
	    		            title: {
	    		                enabled: true,
	    		                text: 'Model Execution Time (s)'
	    		            },
	    		            startOnTick: true,
	    		            endOnTick: true,
	    		            showLastLabel: true
	    		        },
	    		        yAxis: {
	    		            title: {
	    		                text: 'Observed Execution Time (s)'
	    		            }
	    		        },
			        credits: {
					enabled: false
				    },
	    		        plotOptions: {
				    series: {
					turboThreshold: 5000
				    },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: {
	    		                        hover: {
	    		                            enabled: true,
	    		                            lineColor: 'rgb(100,100,100)'
	    		                        }
	    		                    }
	    		                },
	    		                states: {
	    		                    hover: {
	    		                        marker: {
	    		                            enabled: false
	    		                        }
	    		                    }
	    		                },
	    		                tooltip: {
	    		                    headerFormat: '',
	    		                    pointFormat: '<b>{point.name}</b> <br/> {point.x} s, {point.y} s'
	    		                }
	    		            }
	    		        },
	    		        series: [
					{name: 'Correct Executions', color: '#AAF', data: {{ jsonData | raw }}},
					{name: 'Highlighted Executions', color: '#F80', data: {{ jsonWarns | raw }}},
					{name: 'Outlier Executions', color: '#F66', data: {{ jsonOuts | raw }}},
					{type: 'line', name: 'Regression Line', showInLegend: false, color: '#AAA', data: [[50, 50], [50+{{max_p|raw}}, 50+{{max_p|raw}}]], marker: {enabled: false}, states: {hover: {lineWidth: 0}}, enableMouseTracking: false }
				]
			});

			oTable = $('#benchmark').dataTable({
				"aaData": {{ jsonTable | raw }},
				"columns": {{ jsonHeader | raw }},
				"columnDefs" : [{"targets" : {{ jsonTable | raw }}, "render" : function (data) { return Math.round(data); }}]
			});
			$(window).bind('resize', function () {
				oTable.fnAdjustColumnSizing();
			});           
			jQuery('.dataTable').wrap('<div class="scrollStyle" />');
		}
		else
		{
			$('#chart')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";
			setInterval( function() { window.location.reload(); }, 300000 );
		}	
	});
    </script>
{% endblock %}
