{% extends "layout.html.twig" %} 
{% block stylesheet %}
	{{ parent() }}
	<style type="text/css">
        @import "js/datatables.new/media/css/demo_table.css";
        @import "js/datatables.new/media/css/jquery.dataTables.css";
        @import "js/datatables.new/extensions/ColReorder/media/css/ColReorder.css";
        @import "js/datatables.new/extensions/TableTools/media/css/TableTools.css";
        @import "js/datatables.new/extensions/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
		overflow-x:auto;
		float: left;
		width: 100%;
        }
	</style>
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Anomaly Detection</b>: This tool uses the created models from <a href="/mlprediction">Modeling Data</a> to detect outliers on the selected data-set of executions. It performs model-based detection to mark down anomalous executions and outliers.</p>
		<p style="text-align:justify">To use the tool, select which executions you want to filter and examine through the right filter box (make sure you created a compatible model in <i>Modeling Data</i> section). Also select the tolerance to errors parameter (<i>sigma</i>: the execution will be tested if the prediction error is at least <i>k</i> sigmas from the average error). Then observe how each execution is classified. <i>Warnings</i> are executions with an anomalous prediction error, without any other support as legit or outlier. <i>Outliers</i> are executions with an anomalous prediction error and supports of being outliers.</p>
		<p style="text-align:justify">After classifying the executions, each classification can be attached to the prediction and execution (in the DataBase) as the accepted resolution for this execution. You can also see the list of executions tested and their resolutions in the box <i>List of outliers</i>, below. Optionally you can re-launch the classification process using a different model in cache, from the <i>Model information</i> toolbox found at the bottom of the page.</p>
		<hr />
	</div>
	<div id="stuffdiv" style="float: left; width: 68%;">
		<div id="chart" style="float: left; width: 100%;"></div>
		<div id="controls" style="display: none; float: left; width: 100%;">
			<form>
				<table style="float: right; width: 20%;">
				<tr><td><label>Associate to Predictions DB: </label></td></tr><tr>
				<td><input class="form-control" type="button" id="outliers-apply" value="Accept resolutions" /></td>
				</tr></table>
			</form>
		</div>
		<div id="information" style="float: left; width: 100%;">
			<p>{{error_stats | raw}}</p>
			<p>Model information:
				<ul>
				<li>Model cache ID: {{current_model|raw}}</li>
				<li>Resolution cache ID: {{resolution_id|raw}}</li>
				<li>Instance: {{instance|raw}}</li>
				</ul>
			</p>
		</div>
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters.html.twig' %}
	</div>
	<div style="clear: both;"></div>
	<hr />
	<div id="options" style="display: none">
		List of outliers : <a id="displayText1" href="javascript:toggle('benchdiv','displayText1');">show</a>
		<div id="benchdiv" style="display: none; float: left; width: 100%;">
			<table id="benchmark" cellpadding="0" cellspacing="0" border="0" class="display" width="100%"><thead></thead></table>
		</div>
		<hr />
		Model information and control: <a id="displayText2" href="javascript:toggle('footer','displayText2');">show</a>
		<div id="footer" style="display: none; float: left; width: 100%;">	
			<div style="float: left; width: 70%;">
				<p>Usable models found:<ul>{{models | raw}}</ul></p>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" language="javascript" src="js/datatables.new/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/datatables.new/extensions/ColVis/js/dataTables.colVis.min.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>

	<script type="text/javascript">
	function toggle(divid, textid)
	{
		var ele = document.getElementById(divid);
		var text = document.getElementById(textid);
		if (ele.style.display == "block") { ele.style.display = "none"; text.innerHTML = "show"; }
		else { ele.style.display = "block"; text.innerHTML = "hide"; }
	}

	$(document).ready(function()
	{
		document.getElementById('submit').id = 'submitForm';

		$('jsonError').innerHTML = "<p>{{message}}</p>";
		if ('{{jsonData | raw}}' == '[]' && '{{jsonWarns | raw}}' == '[]' && '{{jsonOuts | raw}}' == '[]') $("#footer").hide();

		$("#outliers-apply").click(function()
		{
			var url = window.location.href;   
			if (url.indexOf('?') > -1) url = url + '&register=1'; 
			else url = url + '?register=1';
			window.location.href = url;
		});

		if ("{{must_wait}}"== "NO")
		{
			$('#controls').show();
			$('#options').show();

			$('#chart').highcharts( {
	    		        chart: {
	    		            type: 'scatter',
	    		            zoomType: 'xy'
	    		        },
	    		        title: {
	    		            text: 'Outlier Detection'
	    		        },
	    		        subtitle: {
	    		            text: 'Model vs Observation'
	    		        },
	    		        xAxis: {
	    		            title: {
	    		                enabled: true,
	    		                text: 'Model Execution Time (s)'
	    		            },
	    		            startOnTick: true,
	    		            endOnTick: true,
	    		            showLastLabel: true
	    		        },
	    		        yAxis: {
	    		            title: {
	    		                text: 'Observed Execution Time (s)'
	    		            }
	    		        },
			        credits: {
					enabled: false
				    },
	    		        plotOptions: {
				    series: {
					turboThreshold: 5000
				    },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: {
	    		                        hover: {
	    		                            enabled: true,
	    		                            lineColor: 'rgb(100,100,100)'
	    		                        }
	    		                    }
	    		                },
	    		                states: {
	    		                    hover: {
	    		                        marker: {
	    		                            enabled: false
	    		                        }
	    		                    }
	    		                },
	    		                tooltip: {
	    		                    headerFormat: '',
	    		                    pointFormat: '<b>{point.name}</b> <br/> {point.x} s, {point.y} s'
	    		                }
	    		            }
	    		        },
	    		        series: [
					{name: 'Correct Executions', color: '#AAF', data: {{ jsonData | raw }}},
					{name: 'Highlighted Executions', color: '#F80', data: {{ jsonWarns | raw }}},
					{name: 'Outlier Executions', color: '#F66', data: {{ jsonOuts | raw }}},
					{type: 'line', name: 'Regression Line', showInLegend: false, color: '#AAA', data: [[50, 50], [50+{{max_p|raw}}, 50+{{max_p|raw}}]], marker: {enabled: false}, states: {hover: {lineWidth: 0}}, enableMouseTracking: false }
				]
			});

			oTable = $('#benchmark').dataTable({
				"aaData": {{ jsonTable | raw }},
				"columns": {{ jsonHeader | raw }},
				"columnDefs" : [{"targets" : {{ jsonTable | raw }}, "render" : function (data) { return Math.round(data); }}]
			});
			$(window).bind('resize', function () {
				oTable.fnAdjustColumnSizing();
			});           
			jQuery('.dataTable').wrap('<div class="scrollStyle" />');
		}
		else
		{
			$('#chart')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";
			setInterval( function() { window.location.reload(); }, 300000 );
		}	
	});
    </script>
{% endblock %}
