{% extends "layout.html.twig" %} 
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
	<div id="jsonError" class="alert alert-danger" role="alert" style="display: none; text-align: center; font-weight: bold;">
		<p></p>
	</div>
	<div id="introduction" style="float: left; width: 100%;">
		<p style="text-align:justify"><b>Modeling Data</b>: This tool is in charge of creating models and predictors for Hadoop datasets. Using machine learning algorithms, this tool creates a model from the data-set of executions selected through the right panel. Then returns a model (kept in the system), and the result of testing the model against a sample of executions to check its accuracy. Our methodology uses the 50% of the selected executions as training (tr), a 25% for validating the model (tv), and a 25% to test the model (tt).</p>
		<p style="text-align:justify">To use the tool, select the specific set of executions that you want to model at the right menu, the method to train it, and as option if you want the model to admit future not-seen-yet values. Then observe how the quality of the model in the chart below. [MAE: Mean Absolute Error, RAE: Relative Absolute Error]</p>
	<hr />
	</div>
	<div id="stuff" style="float: left; width: 68%;">
		<div id="chart" style="float: left; width: 100%;"></div>
		<div id="information" style="float: left; width: 100%;">
			<p>{{error_stats | raw}}</p>
			<p>Model information:
				<ul>
				<li>Model cache ID: {{id_learner|raw}}</li>
				<li>Instance: {{instance|raw}}</li>
				<li>Model Info: {{model_info|raw}}</li>
				</ul>
			</p>
		</div>
	</div>
	<div style="float: right; width: 30%;">
	{% include 'common/config_filters.html.twig' %}
	</div>
	<div style="clear: both;"></div>
{% endblock %}
{% block javascript %} {{ parent() }}
	<script type="text/javascript" src="js/highcharts/js/highcharts.js"></script>
	<script type="text/javascript" src="js/highcharts/js/highcharts-more.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('jsonError').innerHTML = "<p>{{message}}</p>";

		document.getElementById('submit').id = 'submitForm';
		$('#submitForm').attr('value', 'Learn Model');
		$("#submitForm").html('Learn Model');

		if ("{{must_wait}}"== "NO")
		{
			$('#controls').show();

			$('#chart').highcharts( {
	    		        chart: {
	    		            type: 'scatter',
	    		            zoomType: 'xy'
	    		        },
	    		        title: {
	    		            text: 'Predicted Exec.Time vs Real Exec.Time'
	    		        },
	    		        subtitle: {
	    		            text: 'Predictions'
	    		        },
	    		        xAxis: {
	    		            title: {
	    		                enabled: true,
	    		                text: 'Predicted Execution Time (s)'
	    		            },
	    		            startOnTick: true,
	    		            endOnTick: true,
	    		            showLastLabel: true
	    		        },
	    		        yAxis: {
	    		            title: {
	    		                text: 'Real Execution Time (s)'
	    		            }
	    		        },
			        credits: {
					enabled: false
				    },
	    		        plotOptions: {
				    series: {
					turboThreshold: 5000
				    },
	    		            scatter: {
	    		                marker: {
	    		                    radius: 5,
	    		                    states: {
	    		                        hover: {
	    		                            enabled: true,
	    		                            lineColor: 'rgb(100,100,100)'
	    		                        }
	    		                    }
	    		                },
	    		                states: {
	    		                    hover: {
	    		                        marker: {
	    		                            enabled: false
	    		                        }
	    		                    }
	    		                },
	    		                tooltip: {
	    		                    headerFormat: '',
	    		                    pointFormat: '<b>{point.mydata}</b> <br/> {point.x} s, {point.y} s'
	    		                }
	    		            }
	    		        },
	    		        series: [
					{name: 'Exe time', color: 'rgba(223, 83, 83, .5)', data: {{ jsonExecs | raw }}	},
					{type: 'line', name: 'Regression Line', showInLegend: false, color: '#AAA', data: [[50, 50], [{{max_p|raw}}, {{max_p|raw}}]], marker: {enabled: false}, states: {hover: {lineWidth: 0}}, enableMouseTracking: false }
				]
			});
		}
		else
		{
			$('#chart')[0].innerHTML = "<p style='float: left; width: 100%; margin-top: 50px; vertical-align: middle; text-align: center; font-weight: bold; color: #000; background-color: #80ff80'>Your query is being processed. Please wait<!--<br/>{{instance}}--></p>";
			setInterval( function() { window.location.reload(); }, 300000 );
		}	
	});
    </script>
{% endblock %}
