<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<form name="configFilters" method="GET" role="form">
			<div class="row">
				<div class="col-md-12">
					<h2 class="compare body" style="text-align: center;">
						Filters: <a id="filter_reset" href="?">(reset)</a>
					</h2>
				</div>
			</div>
			{% if selected == 'Best configuration' %}
			<div class="row">
				<div class="col-md-6">
					Best config by:<select class="form-control" name="ordertype">
						<option value="cost" {% if order_type == 'cost' %}selected="selected"{% endif %}>Cost-effectiveness</option>
						<option value="exe_time" {% if order_type == 'exe_time' %}selected="selected"{% endif %}>Execution time</option>
					</select>
				</div>
				<div class="col-md-6">
					Max cost (US$):<input type="number" step="any" class="form-control" name="money" {% if money is defined and money != null %}value="{{ money }}"{% endif %}/>
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-6">
					{% if show_filter_benchs is not defined or show_filter_benchs == true %}
						{% if select_multiple_benchs is not defined or
						select_multiple_benchs %}Benchmarks:{% else %}Benchmark:{% endif %}</br>
						<select class="form-control" class="control-form" name="benchs[]"
							 {% if select_multiple_benchs is not defined or select_multiple_benchs %}
							multiple {% endif %}>
							{% for selopt in options['benchs'] %}
							  <option value="{{ selopt['bench'] }}" {% if selopt['bench'] in benchs %}SELECTED{% endif %}>{{ selopt['bench'] }}</option>
							{% endfor %}
							{% if select_multiple_benchs is not defined or select_multiple_benchs %}
							<option value="None"  {% if not benchs %} SELECTED {% endif %}>ALL</option>{%
							endif %}
						</select>
					{% endif %}
				</div>
				<div class="col-md-6">
					Clusters: (CL)</br> <select class="form-control"
						name="id_clusters[]" multiple>
						{% for selopt in options['id_cluster'] %}
						  <option value="{{ selopt['id_cluster'] }}" {% if selopt['id_cluster'] in id_clusters %} SELECTED {% endif %}>{{ selopt['name'] }}</option>
						{% endfor %}
						<option value="None" {% if not id_clusters %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					Networks:</br> <select class="form-control" name="nets[]" multiple>
					{% for selopt in options['net'] %}
						 <option value="{{ selopt['net'] }}" {% if selopt['net'] in nets %} SELECTED {% endif %}>{% if selopt['net'] == 'IB' %}InfiniBand{% else %}Ethernet{% endif %}</option>
					{% endfor %}
						<option value="None" {% if not nets %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
				<div class="col-md-6">
					Disks:</br> <select class="form-control" name="disks[]" multiple>
					  {% for selopt in options['disk'] %}
					    <option value="{{ selopt['disk'] }}" {% if selopt['disk'] in disks %}SELECTED{% endif %}>{{ selopt['disk'] }}</option>
					  {% endfor %}
						<option value="None" {% if not disks %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					Maps: (m)</br> <select class="form-control" name="mapss[]" multiple>
					  {% for selopt in options['maps'] %}
					    <option value="{{ selopt['maps'] }}" {% if selopt['maps'] in mapss %}SELECTED{% endif %}>{{ selopt['maps'] }}</option>
                      {% endfor %}
						<option value="None" {% if not mapss %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
				<div class="col-md-6">
					Compression: (c)</br> <select class="form-control" name="comps[]"
						multiple>
					  {% for selopt in options['comp'] %}
					    <option value="{{ selopt['comp'] }}" {% if selopt['comp'] in comps %}SELECTED{% endif %}>
					     {% if selopt['comp'] == 0 %}
					       None
					     {% elseif selopt['comp'] == 1 %}
					       ZLIB
					     {% elseif selopt['comp'] == 2 %}
					       BZIP2
					     {% else %}
					       Snappy
					     {% endif %}
					    </option>
					  {% endfor %}
						<option value="None" {% if not comps %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					Replication: (r)</br> <select class="form-control"
						name="replications[]" multiple>
					  {% for selopt in options['replication'] %}
					    <option value="{{ selopt['replication'] }}" {% if selopt['replication'] in replications %}SELECTED{% endif %}>{{ selopt['replication'] }}</option>
					  {% endfor %}
						<option value="None" {% if not replications %} SELECTED {% endif %}>Disabled</option>
					</select>
				</div>
				<div class="col-md-6">
					Block size: (b)</br> <select class="form-control" name="blk_sizes[]"
						multiple>
						{% for selopt in options['blk_size'] %}
					    <option value="{{ selopt['blk_size'] }}" {% if selopt['blk_size'] in blk_sizes %}SELECTED{% endif %}>{{ selopt['blk_size'] }}MB</option>
					   {% endfor %}
						<option value="None" {% if not blk_sizes %} SELECTED  {% endif %}>Disabled</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					I/O Sort Factor: (I)</br> <select class="form-control" name="iosfs[]"
						multiple>
						{% for selopt in options['iosf'] %}
					    <option value="{{ selopt['iosf'] }}" {% if selopt['iosf'] in iosfs %}SELECTED{% endif %}>{{ selopt['iosf'] }}</option>
					   {% endfor %}
						<option value="None" {% if not iosfs %} SELECTED {% endif %}>Disabled</option>
					</select>
				</div>
				<div class="col-md-6">
					I/O File Buffer: </br> <select class="form-control"
						name="iofilebufs[]" multiple>
						{% for selopt in options['iofilebuf'] %}
					    <option value="{{ selopt['iofilebuf'] }}" {% if selopt['iofilebuf'] in iofilebufs %}SELECTED{% endif %}>{{ selopt['iofilebuf'] }}KB</option>
					   {% endfor %}
						<option value="None" {% if not iofilebufs %} SELECTED {% endif %}>Disabled</option>
					</select>
				</div>
			</div>
			{% if selected == 'Parameter Evaluation' %}
			<div class="row">
				<div class="col-md-6">
					Minimum executions:<input type="number" step="1" class="form-control" name="minexecs" {% if minexecs is defined and minexecs != null %}value="{{ minexecs }}"{% endif %}/>
				</div>
			</div>
			{% endif %}
		</form>
	</div>
</div>
