<form id="configFilters" name="configFilters" method="GET" role="form" autocomplete="off">
{% if additionalFilters['presets']['choices'] | length > 0  %}
<div class="row" style="margin-bottom: .5em;">
	<div class="col-md-8">
	   Predefined configurations:<br />
		<select form="configFilters" class="form-control" name="presets" style="width: 100%;">
		 <option value="none" url="" title="None" {% if additionalFilters['presets']['currentChoice'] == "none" %}selected{% endif %}>None</option>
		{% for choice in additionalFilters['presets']['choices'] %}
		 <option value="{{ loop.index }}" url="{{ choice['URL'] }}" title="{{ choice['description'] }}" {% if additionalFilters['presets']['currentChoice'] == loop.index or additionalFilters['presets']['currentChoice'] == choice['URL'] %}selected="true"{% endif %}>{{ choice['short_name'] }}</option>
		{% endfor %}
		</select>
	</div>
	<div class="col-md-4">
		<br />
		<button style="width: 100%;" type="submit" value="Apply" class="btn btn-success">Apply</button>
	</div>
</div>
	{% endif %}
	<div class="row panel panel-default" style="width: 100%; margin: 0 auto; margin-bottom: 1em;">
		<div class="panel-heading"><h3 class="panel-title" style="font-size: 1.5em; text-align: center;">Filters</h3></div>
		<div class="panel-body col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
				 	<button id="submit" type="submit" value="Update filters" class="btn btn-primary">Update filters</button>
                    <!-- to know if form has been submitted through GET -->
                    <input type="hidden" name="submit" />
                    <span id="label-lookup" data-label-lookup="{{ labelLookup }}"></span>
				</div>
				<div class="col-md-6">
				   <a id="filter_reset" href="?" style="color: white;" class="reset btn btn-warning">Reset</a>
				</div>
			</div>
    </div>
  <div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="active-filters col-md-10 col-md-offset-1"></div>
  {% for name,filterGroup in filterGroups %}
    <div class="panel panel-default col-md-10 col-md-offset-1" style="padding: 0;">
      <div class="panel-heading" role="tab" id="heading{{ name }}">
        <i id="{{ name }}Glyphon" data-toggle="collapse" data-parent="#accordion" href="#{{ name }}" class="indicator glyphicon {% if filterGroup['tabOpenDefault'] %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %} pull-right"></i>
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{ name }}" aria-expanded="true" aria-controls="{{ name }}">
            {{ filterGroup['label'] }}
          </a>
        </h4>
      </div>
      <div id="{{ name }}" class="panel-collapse collapse {% if filterGroup['tabOpenDefault'] %}in{% endif %} filtersTab" role="tabpanel" aria-labelledby="heading{{ name }}">
        <div class="panel-body">
          {{ include('common/render_filter.html.twig', {'filterGroup': filterGroup['filters'], 'filters': filters}) }}
          {# needed for grouping filters, TODO: do it in a better way #}
          {% if name == 'advanced' %}
              <input type="hidden" name="selected-groups" value="{% if selectedGroups is defined and selectedGroups is not null %}{{ selectedGroups | join(',') }}{% endif %}" />
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
 </div>
</div>
</form>

