<form name="clusterFilters" method="GET" role="form">

    <table class="table stripped">
        <thead>
        <th>Cluster</th>
        <th>Provider</th>
        <th>Type</th>
        <th>VM OS</th>
        <th>Datanodes</th>
        <th>Cost/hour</th>
        <th>Cost remote disk</th>
        <th>Cost SSD</th>
        <th>Cost InfiniBand</th>
        </thead>
        <tbody>
        {% for cluster in clusters %}
            <tr>
                <td>{{ cluster.name }}</td>
                <td>{{ cluster.provider }}</td>
                <td>{{ cluster.type }}</td>
                <td>{{ cluster.vm_OS }}</td>
                <td>{{ cluster.datanodes }}</td>
                <td><input type="text" class="form-control" name="cost_hour[{{ cluster.id_cluster }}]" value="{% if cost_hour[cluster.id_cluster] is defined %}{{ cost_hour[cluster.id_cluster] }}{% else %}{{ cluster.cost_hour }}{% endif %}" size="4"></td>
                <td><input type="text" class="form-control" name="cost_remote[{{ cluster.id_cluster }}]" value="{% if cost_remote[cluster.id_cluster] is defined %}{{ cost_remote[cluster.id_cluster] }}{% else %}{{ cluster.cost_remote }}{% endif %}" size="4"></td>
                <td><input type="text" class="form-control" name="cost_SSD[{{ cluster.id_cluster }}]" value="{% if cost_SSD[cluster.id_cluster] is defined %}{{ cost_SSD[cluster.id_cluster] }}{% else %}{{ cluster.cost_SSD }}{% endif %}" size="4"></td>
                <td><input type="text" class="form-control" name="cost_IB[{{ cluster.id_cluster }}]" value="{% if cost_IB[cluster.id_cluster] is defined %}{{ cost_IB[cluster.id_cluster] }}{% else %}{{ cluster.cost_IB }}{% endif %}" size="4"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button id="submit" type="submit" value="Update prices" class="btn btn-warning">Update prices</button>
</form>