{% extends "layout.html.twig" %}
{% block javascript %}
		{{ parent() }}
		{{ highcharts_js|raw }}
	    <script>
        $(document).ready(function() {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    defaultSeriesType: 'scatter',
                    zoomType: 'x'
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Benchmark {{ benchs[0] }} execution cost by performance (normalized)',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Hover a marker to get execution configuration details.  Drag to zoom.',
                    x: -20
                },
                legend: {
                    enabled: false
                },
                yAxis: {
                    max: 1,
                    min: 0,
                    title: {
                        useHTML: true,
                        text: '&#8678; Economical &nbsp;&nbsp;&nbsp;  Normalized cost (higher is worse) &nbsp;&nbsp;&nbsp; Expensive &#8680;'

                    },
                    //lineWidth: 2,
//                    plotLines: [{
//                        value: 0,
//                        width: 1,
//                        color: '#808080'
//                    }],
                    plotBands: [{
                        from: 0.5,
                        to: 1,
                        color: 'rgba(255, 170, 213, .2)'
                    }]
                },
                xAxis: [{
                    max: 1,
                    min: 0,
                    title: {
                        useHTML: true,
                        text: '&#8678; Faster &nbsp;&nbsp;&nbsp;  Normalized execution time (higher is worse) &nbsp;&nbsp;&nbsp; Slower &#8680;'
                    },
                    //lineWidth: 2,
//                    plotLines: [{
//                        value: 0,
//                        width: 1,
//                        color: '#808080'
//                    }],
//                    plotLines: {
//                        //color: 'red', // Color value
//                        //dashStyle: 'longdashdot', // Style of the plot line. Default to solid
//                        value: '3', // Value of where the line will appear
//                        width: '2' // Width of the line
//                    }
                    plotBands: [
                    {
                        from: 0,
                        to: 0.5,
                        color: 'rgba(100, 170, 255, .2)'
                    },
                    {
                        from: 0.5,
                        to: 1,
                        color: 'rgba(255, 170, 213, .2)'
                    }]
                }
//                    ,{
//                    lineWidth: 1,
//                    offset: 70,
//                    title: {
//                        text: 'Seconds'
//                    },
//                    tickWidth: 1
//                }
                ],
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        }
//                        ,
//                        dataLabels: {
//                            enabled: true,
//                            style: {
//                                textShadow: '0 0 3px white, 0 0 3px white'
//                            }
//                        }
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var id = this.series.options.idexec;
                                    top.location.href = "{{ path('perfcharts') }}?execs[]=" + id;
                                }
                            }
                        }
                    }
                },
                series: [{{ seriesData | raw }}
                         ]
            });

            chart.renderer.text('Fast-Expensive', 180, 240)
                .attr({
                    //rotation: -25
                })
                .css({
                    color: '#4572A7',
                    fontSize: '16px'
                })
                .add();

            chart.renderer.text('Slow-Expensive', 560, 240)
                .attr({
                    //rotation: -25
                })
                .css({
                    color: '#4572A7',
                    fontSize: '16px'
                })
                .add();

            chart.renderer.text('Fast-Economical', 180, 590)
                .attr({
                    //rotation: -25
                })
                .css({
                    color: '#4572A7',
                    fontSize: '16px'
                })
                .add();

            chart.renderer.text('Slow-Economical', 560, 590)
                .attr({
                    //rotation: -25
                })
                .css({
                    color: '#4572A7',
                    fontSize: '16px'
                })
                .add();

            // the button action
            $('#button').click(function() {
                var chart = $('#container').highcharts();
                chart.xAxis[0].setExtremes(-3000, 3000);
                chart.yAxis[0].setExtremes(-20, 20);
            });

            $('form').submit(function() {
                var href = location.protocol + '//' + location.host + location.pathname + '?' + $("form[name='clusterFilters'],form[name='configFilters']").serialize();
                top.location.href = href;
                return false;
            });
        });
	    </script>
    {% endblock %}
    {% block content %}
            <div id="intro_text">
                This tool shows a <a href="https://en.wikipedia.org/wiki/Standard_score" target="_blank">standarized</a> (normalized)
                view of each execution point (dot).
                Where the Y-axis represents the execution cost and the X-axis the execution time.
                </br>
                Point (0,0) represents the best value, while (1,1) the worst execution.
                </br>
                You can hover with the mouse over each point to see the execution details,
                and change the selection (data slice) with the filter.
            </div>
            </br></br>

           <div id="navigation">
	            <div id="chart" style="width: 800px; margin: 0 auto; margin-left: 10%; float: left; height: 800px;"></div>
                <div style="width: 30%; float: right;">
                    {% include "common/config_filters.html.twig" %}
                </div>
	            <h1 class="compare title">Edit cluster configuration costs:</h1>
	            <div style="margin: 0 auto; width: 90%; text-align: left;">
                {% include 'common/prices_form.html.twig' %}
	            </div>
	    </div>
    {% endblock %}
