{% extends "layout.html.twig" %}
{% block stylesheet %}
	{{ parent() }}
	<style type="text/css">
        @import "js/datatables/media/css/demo_table.css";
        @import "js/datatables/media/css/jquery.dataTables.css";
        @import "js/datatables/extras/ColReorder/media/css/ColReorder.css";
        @import "js/datatables/extras/TableTools/media/css/TableTools.css";
        @import "js/datatables/extras/ColVis/media/css/ColVis.css";
    </style>
{% endblock %}
{% block javascript %}
    {{ parent() }}
        <script type="text/javascript" language="javascript" src="js/datatables/media/js/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" language="javascript" src="js/datatables/extras/FixedHeader/js/FixedHeader.nightly.min.js"></script>
	    <script type="text/javascript" language="javascript" src="js/datatables/extras/ColReorder/media/js/ColReorder.nightly.min.js"></script>
	    <script type="text/javascript" language="javascript" src="js/datatables/extras/TableTools/media/js/TableTools.nightly.min.js"></script>
	    <script type="text/javascript" language="javascript" src="js/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
	    <script type="text/javascript" language="javascript" src="js/datatables/extras/ColVis/media/js/ColVis.nightly.min.js"></script>
	    <script type="text/javascript" charset="utf-8">
        //parse querystring
        $.urlParam = function(name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (!results) {
                return "";
            }
            return decodeURIComponent(results[1]) || "";
        }

        /* Custom filtering function which will filter data in column four between two values */
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var iMin = document.getElementById('min').value * 1;
                var iMax = document.getElementById('max').value * 1;
                var iVersion = aData[{{ show_in_result }}] == "-" ? 0 : aData[{{ show_in_result }}]*1;
                if ( iMin == "" && iMax == "" )
                {
                    return true;
                }
                else if ( iMin == "" && iVersion < iMax )
                {
                    return true;
                }
                else if ( iMin < iVersion && "" == iMax )
                {
                    return true;
                }
                else if ( iMin < iVersion && iVersion < iMax )
                {
                    return true;
                }
                return false;
            }
        );

        function fnResetAllFilters() {
            var oSettings = oTable.fnSettings();
            for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                oSettings.aoPreSearchCols[ iCol ].sSearch = '';
            }
            oTable.fnDraw();
        }

        //create the table after loading
        $(document).ready(function() {

            var asInitVals = new Array();
            var oTable;

            /* Add the events etc before DataTables hides a column */
            $("thead input").keyup( function () {
                /* Filter on the column (the index) of this element */
                oTable.fnFilter( this.value, oTable.oApi._fnVisibleToColumnIndex(
                    oTable.fnSettings(), $("thead input").index(this) ) );
            } );

            /*
             * Support functions to provide a little bit of 'user friendlyness' to the textboxes
             */
            $("thead input").each( function (i) {
                this.initVal = this.value;
            } );

            $("thead input").focus( function () {
                if ( this.className == "search_init" )
                {
                    this.className = "";
                    this.value = "";
                }
            } );

            $("thead input").blur( function (i) {
                if ( this.value == "" )
                {
                    this.className = "search_init";
                    this.value = this.initVal;
                }
            } );

            //$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="hibench"></table>' );
            oTable = $('#benchmarks').dataTable( {
                "oSearch": {"sSearch": $.urlParam('search')},
                "bDeferRender": true,
                "aaSorting": [[ 1, "desc" ]],
                "iDisplayLength": 25,
                "sDom": 'C<"clear">lfrtip<"clear"><"clear">T', //"sDom": 'C<"clear">lfrtip',
                "oLanguage": {
                    "sSearch": "Filter all columns:",
                    "sProcessing": "Loading..."
                },
                //"bStateSave": true,
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ] }
                ],
                "bSortCellsTop": true,
                "oColVis": {
                    "aiExclude": [0],
                    "bRestore": true
                },
                "sPaginationType": "full_numbers",
                "oTableTools": {
                    "sSwfPath": "../datatables/datatables/media/swf/copy_csv_xls_pdf.swf"
                },
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                "fnInitComplete": function(oSettings, json) {
                    $('#benchmarks').show();
                    $('#loading').hide();
                }

            } );

            /* Add event listeners to the two range filtering inputs */
            $('#min').keyup( function() { oTable.fnDraw(); } );
            $('#max').keyup( function() { oTable.fnDraw(); } );

        } );

    </script>
    {% endblock %}
    {% block navigation %}
      {{ parent() }}
        <div id="navigation" style="text-align: center;">
	        <h2>
	            <strong>JOB COUNTER TYPES:</strong>
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[0] }}"><span {% if type == 'SUMMARY' %}style="font-weight: bold;"{% endif %}>SUMMARY</span></a>
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[1] }}"><span {% if type == 'MAP' %}style="font-weight: bold;"{% endif %}>MAP</span></a>
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[2] }}"><span {% if type == 'REDUCE' %}style="font-weight: bold;"{% endif %}>REDUCE</span></a>
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[3] }}"><span {% if type == 'FILE-IO' %}style="font-weight: bold;"{% endif %}>FILE-IO</span></a>
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[4] }}"><span {% if type == 'DETAIL' %}style="font-weight: bold;"{% endif %}>DETAIL</span></a>
	            {% if execs is defined %}
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ modifyUrls[5] }}"><span {% if type == 'TASKS' %}style="font-weight: bold;"{% endif %}>JOB/S TASKS</span></a>
	            {% endif %}
	        </h2>
	    </div>
	    Click on a <strong>Job Name</strong> to see it's tasks and history </br>
    {% endblock %}
    {% block content %}
      Click on a <strong>benchmark name</strong> to see execution details.</br>
      Select different rows and <strong>click compare</strong>, to compare charts.</br>
      <strong>Search</strong> to filter results. Shift+Click to order by multiple columns</br>

      <form action="charts1.php" target="_blank">
          {% set style_table = '' %}
		  {% if message is not defined or message is null %}
			  <div id="loading" style="height: 400px; text-align: center; font-size: 2em;">
	            </br></br></br></br></br></br>
	            Loading data...<br /><br />
	            <img src="img/icon.load.gif" />
	        </div>
	        {% set style_table = 'style="display: none;"' %}
		  {% endif %}
        <table id="benchmarks" cellpadding="0" cellspacing="0" border="0" class="display" width="100%" {{ style_table | raw}}>
            {{ table_fields | raw }}
        </table>

        <h1>Compare executions:</h1>
        <h2>Select rows by clicking on checkboxes and click: <input type="submit" value="Compare Executions"></h2>

    </form>

    <div style="display: none;">
        <h1>Advanced filtering:</h1>
        <h2>Remove old executions by default, clear to enable all:</h2>
        <table border="0" cellspacing="0" cellpadding="1" style="">
            <tbody>
            <tr>
                <td>Minimum execution date:</td>
                <td><input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>Maximum execution date:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </br></br>

    <div id="chart"></div>

</div>
{% endblock %}
