{% extends "layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ highcharts_js|raw }}

    <script>
        $(document).ready(function() {

            // Form with all the chart options
            var form = $('form#options');

            // Call updateChart for form events
            form.change(updateChart);
            form.find('button').click(updateChart)
            form.submit(updateChart);

            function updateChart(event) {
                // Start loading
                chart.showLoading();

                // Load chart options from html form
                var metric_x = form.find("[name='metric_x']");
                var metric_y = form.find("[name='metric_y']");
                var eps = form.find("[name='eps']");
                var minPoints = form.find("[name='minPoints']");

                // Launch ajax request
                $.ajax({
                    url: "{{ path('dbscandata', {'jobid': jobid}) }}",
                    data: {
                        metric_x: metric_x.val(),
                        metric_y: metric_y.val(),
                        eps: eps.val(),
                        minPoints: minPoints.val(),
                    },
                })
                .done(function(data) {
                    // Update chart with new options
                    var metric_x_name = metric_x.find("option:selected").text();
                    var metric_y_name = metric_y.find("option:selected").text();
                    chart.xAxis[0].setTitle({text: metric_x_name});
                    chart.yAxis[0].setTitle({text: metric_y_name});

                    // Reset series color and symbol iterator
                    // This way the same cluster will keep it's theme between updates
                    chart.colorCounter = chart.symbolCounter = 0;

                    // Update chart data
                    while(chart.series.length > 0) {
                        chart.series[0].remove(false);
                    }
                    for (i = 0; i < data.seriesData.length; i++) {
                        chart.addSeries({
                            name: "Cluster " + (i + 1),
                            data: data.seriesData[i].points,
                            x_min: data.seriesData[i].x_min,
                            x_max: data.seriesData[i].x_max,
                            y_min: data.seriesData[i].y_min,
                            y_max: data.seriesData[i].y_max,
                        }, false);
                    }
                    if (data.noiseData.length > 0) {
                        chart.addSeries({
                            name: "Noise",
                            data: data.noiseData,
                        }, false);
                    }
                    chart.redraw();

                    // Finished loading
                    chart.hideLoading();
                });

                // Prevent form submit
                if (event && event.type == "submit") {
                    event.preventDefault();
                }
            }

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    type: 'scatter',
                    zoomType: 'xy',
                },
                title: {
                    text: 'DBSCAN'
                },
                subtitle: {
                    text: '{{ jobid }}'
                },
                xAxis: {
                    title: {
                        text: ""
                    },
                },
                yAxis: {
                    title: {
                        text: ""
                    },
                },
                tooltip: {
                    shared: true,
                    useHTML: true,
                    headerFormat: '',
                    pointFormat: '<span style="font-size: 10px">{point.task_id}</span><br/><span style="color:{series.color}">\u25CF</span> {series.xAxis.options.title.text}: <b>{point.x}</b><br/><span style="color:{series.color}">\u25CF</span> {series.yAxis.options.title.text}: <b>{point.y}</b><br/>',
                },
                plotOptions: {
                    series: {
                        animation: false,
                        point: {
                            events: {
                                click: function () {
                                    this.series.chart.xAxis[0].setExtremes(
                                        this.series.options.x_min,
                                        this.series.options.x_max
                                    );
                                    this.series.chart.yAxis[0].setExtremes(
                                        this.series.options.y_min,
                                        this.series.options.y_max
                                    );
                                    this.series.chart.showResetZoom();
                                }
                            },
                        },
                    },
                },
                series: 
                    [
                    ]
            });
            updateChart();
        });
    </script>
{% endblock %}

{% block content %}

    <form id="options" role="form" class="form-inline pull-right">
        <input type="hidden" name="jobid" value="{{ jobid }}">
        <label>
            Metric X:
            <select name="metric_x" class="form-control">
            {% for current_metric in METRICS %}
                <option value="{{ loop.index0 }}" {% if loop.index0 == 0 %}selected="selected"{% endif %}>{{ current_metric }}</option>
            {% endfor %}
            </select>
        </label>
        <label>
            Metric Y:
            <select name="metric_y" class="form-control">
            {% for current_metric in METRICS %}
                <option value="{{ loop.index0 }}" {% if loop.index0 == 1 %}selected="selected"{% endif %}>{{ current_metric }}</option>
            {% endfor %}
            </select>
        </label>
        <label>
            Eps:
            <input type="text" name="eps" class="form-control" value="250000" size="10">
        </label>
        <label>
            MinPoints:
            <input type="text" name="minPoints" class="form-control" value="1" size="3">
        </label>
    </form>
    <div id="chart" style="clear: both;"></div>

{% endblock %}
