{% extends "layout.html.twig" %}
{% block stylesheet %}
	{{ parent() }}
	<style type="text/css">
        @import "js/datatables/media/css/demo_table.css";
        @import "js/datatables/media/css/jquery.dataTables.css";
        @import "js/datatables/extras/ColReorder/media/css/ColReorder.css";
        @import "js/datatables/extras/TableTools/media/css/TableTools.css";
        @import "js/datatables/extras/ColVis/media/css/ColVis.css";
        .scrollStyle
        {
            overflow-x:auto;
            width: 100%;
        }
    </style>
{% endblock %}
    {% block content %}
      Click on a <strong>benchmark name</strong> to see execution details.<br />
      Select different rows and <strong>click compare</strong>, to compare charts.<br />
      <strong>Search</strong> to filter results. Shift+Click to order by multiple columns<br />

      <form action="{{ path('perfcharts') }}" target="_blank" role="form">
          {% set style_table = '' %}
		  {% if message is not defined or message is null %}
			  <div id="loading" style="height: 400px; text-align: center; font-size: 2em;">
	            <br /><br /><br /><br /><br /><br />
	            Loading data...<br /><br />
	            <img src="img/icon.load.gif" />
	        </div>
	        {% set style_table = 'style="display: none;"' %}
		  {% endif %}
        <table id="benchmarks" width="100%" {{ style_table | raw}}>
		  <thead>
		    <tr>
		      <th></th>
		      {% autoescape false %}
			  {% for key_name,column_name in show_in_result %}
			    {% if column_name == 'IO SFac' %}
			      {% set column_name = column_name ~ makeTooltip('The number of streams to merge at once while sorting files. This determines the number of open file handles.') %}
			    {% elseif column_name == 'IO FBuf' %}
			      {% set column_name = column_name ~ makeTooltip('The total amount of buffer memory to use while sorting files, in MB. By default, gives each merge stream 1MB, which should minimize seeks.') %}
			    {% elseif column_name == 'Exe Time' %}
			      {% set column_name = column_name ~ makeTooltip('Execution time for benchmark in seconds.') %}
			    {% elseif column_name == 'Running Cost $' %}
			      {% set column_name = column_name ~ makeTooltip('Cost in USD/hour.') %}
			    {% elseif column_name == 'Replicas' %}
			      {% set column_name = column_name ~ makeTooltip('Number of replicas.') %}
			    {% elseif column_name == 'Maps' %}
			      {% set column_name = column_name ~ makeTooltip('Number of hadoop mappers used.') %}
			    {% elseif column_name == 'Disk' %}
			      {% set column_name = column_name ~ makeTooltip('Type of disks used.') %}
			    {% elseif column_name == 'Net' %}
			      {% set column_name = column_name ~ makeTooltip('Network type.') %}
			    {% elseif column_name == 'Rep' %}
			      {% set column_name = column_name ~ makeTooltip('Number of replicas.') %}
			    {% elseif column_name == 'Comp' %}
			      {% set column_name = column_name ~ makeTooltip('Compression algorithm for data.') %}
			    {% elseif column_name == 'Blk size' %}
			      {% set column_name = column_name ~ makeTooltip('Hadoop HDFS block size.') %}
			    {% elseif column_name == 'Cluster' %}
			      {% set column_name = column_name ~ makeTooltip('Cluster type for benchmark.') %}
			    {% elseif column_name == 'Files' %}
			      {% set column_name = column_name ~ makeTooltip('Download execution files and logs.') %}
			    {% elseif column_name == 'PARAVER' %}
			      {% set column_name = column_name ~ makeTooltip('Download files to view execution details with PARAVER analysis tool.') %}
			   {% endif %}
			    <th>{{ column_name }}</th>
			  {% endfor %}
			  {% endautoescape %}
			</tr>
			<tr>
			   <th><input type="text" value="" class="search_init" style="visibility: hidden;"></th>
			   {% for key_name,column_name in show_in_result %}
			   <th><input type="text" value="filter col" class="search_init form-control"></th>
			   {% endfor %}
			</tr>
		  </thead>
{#            {{ table_fields | raw }}#}
        </table>

        <h1 class="compare title">Compare executions:</h1>
        <h2 class="compare body">Select rows by clicking on checkboxes and click: <input type="submit" value="Compare Executions" class="btn btn-success"></h2>

    </form>

    <div style="display: none;">
        <h1>Advanced filtering:</h1>
        <h2>Remove old executions by default, clear to enable all:</h2>
        <table border="0" cellspacing="0" cellpadding="1" style="">
            <tbody>
            <tr>
                <td>Minimum execution date:</td>
                <td><input type="text" id="min" name="min" value="20131211092633"></td>
            </tr>
            <tr>
                <td>Maximum execution date:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br /><br />

    <div id="chart"></div>

</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="js/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/datatables/extras/FixedHeader/js/FixedHeader.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/datatables/extras/ColReorder/media/js/ColReorder.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/datatables/extras/TableTools/media/js/ZeroClipboard.js"></script>
    <script type="text/javascript" language="javascript" src="js/datatables/extras/ColVis/media/js/ColVis.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/utils.js"></script>
    <script type="text/javascript" charset="utf-8">
        //parse querystring
        $.urlParam = function(name){
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (!results) {
                return "";
            }
            return decodeURIComponent(results[1]) || "";
        }

        /* Custom filtering function which will filter data in column four between two values */
        $.fn.dataTableExt.afnFiltering.push(
            function( oSettings, aData, iDataIndex ) {
                var iMin = document.getElementById('min').value * 1;
                var iMax = document.getElementById('max').value * 1;
                var iVersion = aData[{{ show_in_result | length }}] == "-" ? 0 : aData[{{ show_in_result | length }}]*1;
                if ( iMin == "" && iMax == "" )
                {
                    return true;
                }
                else if ( iMin == "" && iVersion < iMax )
                {
                    return true;
                }
                else if ( iMin < iVersion && "" == iMax )
                {
                    return true;
                }
                else if ( iMin < iVersion && iVersion < iMax )
                {
                    return true;
                }
                return false;
            }
        );

        function fnResetAllFilters() {
            var oSettings = oTable.fnSettings();
            for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                oSettings.aoPreSearchCols[ iCol ].sSearch = '';
            }
            oTable.fnDraw();
        }

        //create the table after loading
        $(document).ready(function() {

            var asInitVals = new Array();
            var oTable;

            /* Add the events etc before DataTables hides a column */
            $("thead input").keyup( function () {
                /* Filter on the column (the index) of this element */
                oTable.fnFilter( this.value, oTable.oApi._fnVisibleToColumnIndex(
                    oTable.fnSettings(), $("thead input").index(this) ) );
            } );

            /*
             * Support functions to provide a little bit of 'user friendlyness' to the textboxes
             */
            $("thead input").each( function (i) {
                this.initVal = this.value;
            } );

            $("thead input").focus( function () {
                if ( $(this).hasClass('search_init') )
                {
                    $(this).removeClass('search_init');
                    this.value = "";
                }
            } );

            $("thead input").blur( function (i) {
                if ( this.value == "" )
                {
                    $(this).addClass('search_init');
                    this.value = this.initVal;
                }
            } );

            $('#benchmarks').on('column-visibility.dt', function ( e, settings, column, state ) {
                console.log(
                    'Column '+ column +' has changed to '+ (state ? 'visible' : 'hidden')
                );
            } );

            //$('#dynamic').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="hibench"></table>' );
            oTable = $('#benchmarks').dataTable( {
                "oSearch": {"sSearch": $.urlParam('search')},
                "deferRender": true,
//                 "bServerSide": true,
                "sAjaxSource": "{{ path('benchdata') }}",
              //  "aaSorting": [[ 2, "desc" ]],
                "iDisplayLength": 10,
                "sDom": 'C<"clear">lfrtip<"clear"><"clear">T', //"sDom": 'C<"clear">lfrtip',
                "oLanguage": {
                    "sSearch": "Filter all columns:",
                    "sProcessing": "Loading..."
                },
                //"bStateSave": true,
                "aoColumnDefs": [{
                        "bVisible": false, "aTargets": [ 4, {{ show_in_result | length }} ]
                    }
                ],
                "bSortCellsTop": true,
                "oColVis": {
                    "aiExclude": [0],
                    "bRestore": true
                },
                "sPaginationType": "full_numbers",
                "oTableTools": {
                    "sSwfPath": "js/datatables/media/swf/copy_csv_xls_pdf.swf"
                },
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "All"]
                ],
                "fnInitComplete": function(oSettings, json) {
                    $('#benchmarks').show();
                    $('#loading').hide();
                    $("#benchmarks_filter input").each(function() {
                       $(this).addClass('form-control');
                    });
                    $("select[name=benchmarks_length]").addClass('form-control');
                    $("#benchmarks_paginate").addClass('pagination');
                },
                "fnDrawCallback": function( oSettings) {
                    $(".tooltip2").each(function() {
						$(this).tooltip();
                    });
                },
                "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    $('td', nRow).each(function(index, value) {

                        //Correction because first row doesn't really exist
                        if(index > 0)
                            index += 1;

                    	var headTitle = $("#benchmarks thead tr:first-child th:nth-child("+index+")").text();
                    	if(headTitle == 'Benchmark')
        					$(this).html('<a href="{{ path('perfcharts') }}?execs[]=' + aData[0] + '" target="_blank">' + aData[2] + '</a>');
                    	else if(headTitle == '')
                            $(this).html('<input type="checkbox" name="execs[]" value="'+ aData[0] + '">');
                    	else if(headTitle == 'Net') {
        					var tooltip = '';
        					if(aData[6] == 'ETH')
        						tooltip = 'Ethernet';
        					else
        						tooltip = 'Infiniband';
        					$(this).html(aData[6] + ' <img class="tooltip2" src="img/info_small.png" style="width: 10px; height: 10px; margin-bottom: 1px; margin-left: 2px;" data-toggle="tooltip" data-placement="top" data-title="'+tooltip+'" />');
                       	} else if(headTitle == 'Disk') {
        					if(aData[7] == 'HDD')
        						tooltip = 'Hard disk';
        					else if(aData[7] == 'SSD')
        						tooltip = 'Solid-state disk';
        					else
        						tooltip = aData[7].substring(2) + ' remote(s)';
        					$(this).html(aData[7] + ' <img class="tooltip2" src="img/info_small.png" style="width: 10px; height: 10px; margin-bottom: 1px; margin-left: 2px;" data-toggle="tooltip" data-placement="top" data-title="'+tooltip+'" />');
                        } else if(headTitle == 'Files') {
        					var string = aData[15];
        					var value = string.substring(0, strpos(aData[15], '/'));
        					$(this).html('<a href="/jobs/'+value+'" target="_blank">files</a>');
                        } else if(headTitle == 'PARAVER') {
        					$(this).html('<a href="{{ path('export2prv') }}?id_exec=' + aData[0] + '"  target="_blank">PRV .ZIP</a>');
                        }
                    });

	                return nRow;
                }
                
            } );

            /* Add event listeners to the two range filtering inputs */
            $('#min').keyup( function() { oTable.fnDraw(); } );
            $('#max').keyup( function() { oTable.fnDraw(); } );

            $(window).bind('resize', function () {
            	oTable.fnAdjustColumnSizing();
            });
            jQuery('.dataTable').wrap('<div class="scrollStyle" />'); 
        } );
    </script>
    {% endblock %}
