{% extends "layout.html.twig" %}
{% use "common/datatables.html.twig" %}
{% block stylesheet %}
	{{ parent() }}
	{% block stylesheetdatatables %}{{ parent() }}{% endblock %}
{% endblock %}
    {% block content %}
     
{#      <div style="width: 70%; margin: 0 auto; float: left;">#}
     {% block datatablescontent %}{{ parent() }}{% endblock %}
{#      </div>#}
{#      <div style="width: 30%; float: right;">#}
{#        {% include 'common/config_filters.html.twig' %}#}
{#      </div>#}
    <div id="chart"></div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
     <script type="text/javascript" language="javascript" src="js/utils.js"></script>
      {% block javascriptdatatables %}{{ parent() }}{% endblock %}
    {% endblock %}
