{% extends "layout.html.twig" %} 
{% block javascript %} 
	{{ parent() }}
	<script type="text/javascript" src="js/highcharts.js"></script>
	<script type="text/javascript">
	 $(document).ready(function() {
		$("input,select").change(function() {
			$("form").submit();
		});
	 });
	</script>
{% endblock %} 
{% block content %}
<div id="chart"></div>
<div style="float: left; width: 50%;">
    <h3>Best {{ bestexec['bench'] }} configuration</h3>
	<table id="detailTable" class="table table-striped">
		<tbody>
			<tr>
				<th>Run details</th>
				<td><a href="{{ path('perfcharts') }}?execs[]={{ bestexec['id_exec'] }}">Details</a></td>
			</tr>
			<tr>
				<th>Benchmark</th>
				<td>{{ bestexec['bench'] }}</td>
			</tr>
			<tr>
				<th>Execution time</th>
				<td>{{ bestexec['exe_time'] | number_format(2,'.',',') }}s</td>
			</tr>
			<tr>
				<th>Running cost $ {{ makeTooltip('Cost on USD dependant of running time and hardware configuration.') | raw }}</th>
				<td>{{ bestexec['cost'] | number_format(2,'.',',') }}$</td>
			</tr>
			<tr>
				<th>Net</th>
				<td>{{ bestexec['net'] }}</td>
			</tr>
			<tr>
				<th>Disk</th>
				<td>{{ bestexec['disk'] }}</td>
			</tr>
			<tr>
				<th>Number of hadoop mappers</th>
				<td>{{ bestexec['maps'] }}</td>
			</tr>
			<tr>
				<th>IO Sort File Factor {{ makeTooltip('The number of streams to merge at once while sorting files. This determines the number of open file handles.') | raw }}</th>
				<td>{{ bestexec['iosf'] }}</td>
			</tr>
			<tr>
				<th>Number of replicas</th>
				<td>{{ bestexec['replication'] }}</td>
			</tr>
			<tr>
				<th>IO File Buffer {{ makeTooltip('The total amount of buffer memory to use while sorting files, in megabytes. By default, gives each merge stream 1MB, which should minimize seeks.') | raw }}</th>
				<td>{{ bestexec['iofilebuf'] }}KB</td>
			</tr>
			<tr>
				<th>Compression algorithm</th>
				<td>{{ bestexec['comp'] }}</td>
			</tr>
			<tr>
				<th>Block size</th>
				<td>{{ bestexec['blk_size'] }}MB</td>
			</tr>
			<tr>
				<th>Cluster</th>
				<td>{{ cluster }}</td>
			</tr>
			<tr>
				<th>PARAVER {{ makeTooltip('Download files to view execution details with PARAVER analysis tool.') | raw }}</th>
				<td><a href="{{ path('export2prv') }}?id_exec={{ bestexec['id_exec'] }}">PARAVER</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div style="width: 30%; float: right;">
	{% include 'common/config_filters.html.twig' %}
</div>
<div style="clear: both;">&nbsp;</div>
{% endblock %}
