{% extends "layout.html.twig" %}
{% use "common/datatables.html.twig" %}
{% block stylesheet %}
	{{ parent() }}
	{% block stylesheetdatatables %}{{ parent() }}{% endblock %}
{% endblock %}
    {% block content %}
     <div id="navigation" style="text-align: center;">
	        <h2 class="compare body">
	            <strong>Advanced information:</strong>
	            <a href="{{ modifyUrl({'pageTab': 'SUMMARY'}) }}"><span {% if type == 'SUMMARY' %}style="font-weight: bold;"{% endif %}>SUMMARY</span></a>
	            <a href="{{ modifyUrl({'pageTab': 'HWCONFIG'}) }}"><span {% if type == 'HWCONFIG' %}style="font-weight: bold;"{% endif %}>HARDWARE CONFIGURATIONS</span></a>
	            <a href="{{ modifyUrl({'pageTab': 'SWCONFIG'}) }}"><span {% if type == 'SWCONFIG' %}style="font-weight: bold;"{% endif %}>SOFTWARE CONFIGURATIONS</span></a>
	            <a href="{{ modifyUrl({'pageTab': 'DETAIL'}) }}"><span {% if type == 'DETAIL' %}style="font-weight: bold;"{% endif %}>DETAILS</span></a>
	        </h2>
	 </div>
	 <div style="text-align: center; margin-bottom: .5em;">
	    <button id="showFilters" class="btn btn-info">Show filters</button>
	 </div>
	 <div id="filtersTab" style="display: none;">
	   {% include "common/config_filters.html.twig" %}
	 </div>
     {% block datatablescontent %}{{ parent() }}{% endblock %}
    <div id="chart"></div>
    <div>
      <table class="table-stripped">
      	<thead>
      		<th>Test</th>
		</thead>
      	<tbody>
      		<tr>Prova</tr>
		</tbody>
	  </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
     <script type="text/javascript" language="javascript" src="js/utils.js"></script>
      {% block javascriptdatatables %}{{ parent() }}{% endblock %}
    {% endblock %}
